In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv',low_memory=False)

In [3]:
df.shape

(40213, 27)

In [4]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                 object
domain                    object
founded_on                object
hq_country_code           object
hq_state_code             object
hq_region                 object
hq_city                   object
total_funding_usd         object
funding_rounds            object
first_funding_date        object
last_funding_date         object
num_investors             object
funding_duration           int64
first_funding_utc         object
last_funding_utc          object
successful_investment      int64
Unnamed: 19              float64
Unnamed: 20               object
Unnamed: 21               object
Unnamed: 22              float64
Unnamed: 23              float64
Unnamed: 24              float64
Unnamed: 25              float64
Unnamed: 26              float64
dtype: object

In [5]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
Unnamed: 19              40210
Unnamed: 20              40212
Unnamed: 21              40212
Unnamed: 22              40212
Unnamed: 23              40212
Unnamed: 24              40212
Unnamed: 25              40212
Unnamed: 26              40212
dtype: int64

In [6]:
## Dropping all the columns from Unnamed: 19 to Unnamed: 26 
## b/c almost all values are nan
df = df.drop(columns=['Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26'])

In [7]:
df.shape

(40213, 19)

In [8]:
df.head()

,ID,comp_name,website,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,successful_investment
0,0,Nanotecture,http://www.nanotecture.co.uk,closed,Nanotechnology,NaN,GBR,M4,London,Southampton,6820000,1,2005-05-04,2005-05-04,4,0,12907,12907,0
1,1,Sybari,http://www.sybari.com,acquired,Email|Security|Software,1995-01-01,USA,NY,Long Island,East Northport,NaN,1,2001-03-30,2001-03-30,1,0,11411,11411,1
2,2,Futurederm,http://www.futurederm.com,operating,Beauty|Cosmetics|E-Commerce|Social Media,2009-06-07,USA,PA,Pittsburgh,Pittsburgh,165778,5,2012-10-25,2014-05-27,4,579,15638,16217,0
3,3,Mercora,http://mercora.com,closed,Curated Web,NaN,USA,CA,SF Bay Area,Sunnyvale,5000000,1,2005-01-01,2005-01-01,1,0,12784,12784,0
4,4,Datos IO,http://www.datos.io,operating,Big Data|Cloud Computing|Databases|Enterprise ...,2014-06-01,USA,CA,SF Bay Area,San Jose,15250000,2,2014-07-01,2015-09-15,4,441,16252,16693,0

In [9]:
df.dtypes

ID                        int64
comp_name                object
website                  object
op_status                object
domain                   object
founded_on               object
hq_country_code          object
hq_state_code            object
hq_region                object
hq_city                  object
total_funding_usd        object
funding_rounds           object
first_funding_date       object
last_funding_date        object
num_investors            object
funding_duration          int64
first_funding_utc        object
last_funding_utc         object
successful_investment     int64
dtype: object

In [51]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [52]:
df['num_investors'].unique()

array(['4', '1', '2', '3', '5', '6', '21', '11', '8', '13', '7', '10',
       '9', '12', '23', '20', '16', '18', '15', '22', '19', '26', '47',
       '33', '14', '25', '37', '38', '17', '27', '24', '29', '30', '42',
       '36', '35', '31', '46', '28', '61', '34', '55', '40', '39', '43',
       '32', 'DEU', '64', '59', '52', '41', '44', '60', '2015-05-15',
       '50', '45', '53', '48', '2005-01-01', '0', '57', '49'],
      dtype=object)

In [53]:
df['num_investors'].value_counts()

1             17436
2              6630
3              3952
4              2585
5              1826
6              1440
7              1020
8               899
9               711
10              567
11              487
12              379
13              305
14              247
15              235
16              201
17              175
19              137
18              130
20              116
21               97
23               75
22               75
25               68
24               51
27               50
26               50
28               42
30               30
29               30
              ...
36               17
32               15
33               12
35               12
37               11
39                7
41                6
43                5
40                5
38                5
44                4
42                3
47                3
59                3
52                3
57                2
61                2
DEU               1
60                1
50                1
49                1
53                1
45                1
2005-01-01        1
46                1
48                1
64                1
0                 1
55                1
2015-05-15        1
Name: num_investors, Length: 62, dtype: int64

In [54]:
df['num_investors'].replace('2005-01-01','1',inplace=True)

In [55]:
df['num_investors'].replace('2015-05-15','1',inplace=True)

In [56]:
df['num_investors'].replace('DEU','1',inplace=True)

In [57]:
df['num_investors'] = df['num_investors'].apply(pd.to_numeric, errors='coerce')

In [58]:
df['funding_duration'] = df['funding_duration'].apply(pd.to_numeric, errors='coerce')

In [59]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [60]:
df.dtypes

ID                        int64
comp_name                object
website                  object
op_status                object
domain                   object
founded_on               object
hq_country_code          object
hq_state_code            object
hq_region                object
hq_city                  object
total_funding_usd        object
funding_rounds           object
first_funding_date       object
last_funding_date        object
num_investors             int64
funding_duration          int64
first_funding_utc        object
last_funding_utc         object
successful_investment     int64
dtype: object

In [62]:
df['first_funding_utc'] = df['first_funding_utc'].apply(pd.to_numeric, errors='coerce')

In [63]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            1
last_funding_utc             0
successful_investment        0
dtype: int64

In [64]:
df['first_funding_utc'].fillna(0,inplace = True)

In [65]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [66]:
df['last_funding_utc'] = df['last_funding_utc'].apply(pd.to_numeric, errors='coerce')

In [67]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             1
successful_investment        0
dtype: int64

In [68]:
df['last_funding_utc'].fillna(0,inplace = True)

In [69]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd         7664
funding_rounds               1
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [70]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                 object
domain                    object
founded_on                object
hq_country_code           object
hq_state_code             object
hq_region                 object
hq_city                   object
total_funding_usd         object
funding_rounds            object
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [71]:
df['funding_rounds'].unique()

array(['1', '5', '2', '3', '6', '4', '11', '7', '10', '8', '12', '14',
       '9', '17', '16', 'operating', '13', '15', '1032', '19', '18', nan],
      dtype=object)

In [72]:
df['funding_rounds'].value_counts()

1            22686
2             8570
3             4243
4             2146
5             1160
6              635
7              346
8              163
9              100
10              68
11              40
12              23
13              13
16               5
15               4
14               4
17               2
operating        1
19               1
1032             1
18               1
Name: funding_rounds, dtype: int64

In [73]:
df['funding_rounds'].replace('operating','1',inplace = True)

In [74]:
df['funding_rounds'].fillna('1',inplace=True)

In [75]:
df['funding_rounds'].unique()

array(['1', '5', '2', '3', '6', '4', '11', '7', '10', '8', '12', '14',
       '9', '17', '16', '13', '15', '1032', '19', '18'], dtype=object)

In [76]:
df['funding_rounds'] = df['funding_rounds'].apply(pd.to_numeric, errors='coerce')

In [128]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                  int32
domain                     int32
founded_on                object
hq_country_code            int32
hq_state_code              int32
hq_region                  int32
hq_city                   object
total_funding_usd        float64
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [78]:
df['total_funding_usd'].unique()

array(['6820000', nan, '165778', ..., '29243184.4131357', '54948',
       '64600000'], dtype=object)

In [79]:
df['total_funding_usd'].value_counts()

1000000             620
40000               554
2000000             471
10000000            469
500000              430
5000000             414
3000000             372
1500000             358
100000              356
50000               332
25000               324
4000000             305
20000               274
6000000             272
20000000            258
15000000            246
250000              233
2500000             219
7000000             188
8000000             185
12000000            181
200000              171
150000              168
30000000            157
1200000             155
300000              154
25000000            141
3500000             137
120000              133
9000000             129
                   ...
85381111              1
10293718              1
10710000              1
9309071.62962417      1
1250632               1
18093000              1
5124996               1
25795004              1
1244661.10413519      1
108391875             1
17050000              1
7658779.53398283      1
1503411               1
10001228              1
243424047             1
617000                1
88731                 1
212550                1
29866459              1
36682695              1
15196305              1
992514                1
76500                 1
1413319               1
73360292              1
10529998              1
45035988              1
7320644               1
3378194               1
299500000             1
Name: total_funding_usd, Length: 12307, dtype: int64

In [83]:
df['total_funding_usd'].fillna('0',inplace = True)

In [127]:
df['total_funding_usd'] = df['total_funding_usd'].apply(pd.to_numeric, errors='coerce')

In [84]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd            0
funding_rounds               0
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [85]:
df['op_status'].unique()

array(['closed', 'acquired', 'operating', 'ipo',
       ' http//www.dreamlines.com.br ', 'http://www.fortodo.com',
       'http://centers.fortodo.com'], dtype=object)

In [86]:
df['op_status'].value_counts()

operating                        31098
acquired                          4464
closed                            3799
ipo                                849
http://centers.fortodo.com           1
http://www.fortodo.com               1
 http//www.dreamlines.com.br         1
Name: op_status, dtype: int64

In [87]:
df['op_status'].replace(' http//www.dreamlines.com.br ','closed',inplace=True)
df['op_status'].replace('http://www.fortodo.com','operating',inplace=True)
df['op_status'].replace('http://centers.fortodo.com','acquired',inplace=True)

In [90]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['op_status']= le.fit_transform(df['op_status'])

In [92]:
df['op_status'].unique()

array([1, 0, 3, 2], dtype=int64)

In [93]:
df['op_status'].value_counts()

3    31099
0     4465
1     3800
2      849
Name: op_status, dtype: int64

In [94]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                  int32
domain                    object
founded_on                object
hq_country_code           object
hq_state_code             object
hq_region                 object
hq_city                   object
total_funding_usd         object
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [95]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                    2206
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd            0
funding_rounds               0
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [97]:
df['domain'].value_counts()

Software                                                                                                                                                                                                                                                                                                                                                 2388
Biotechnology                                                                                                                                                                                                                                                                                                                                            1883
E-Commerce                                                                                                                                                                                                                                                                                                                                                831
Mobile                                                                                                                                                                                                                                                                                                                                                    762
Clean Technology                                                                                                                                                                                                                                                                                                                                          678
Curated Web                                                                                                                                                                                                                                                                                                                                               677
Enterprise Software                                                                                                                                                                                                                                                                                                                                       611
Games                                                                                                                                                                                                                                                                                                                                                     595
Health Care                                                                                                                                                                                                                                                                                                                                               590
Hardware + Software                                                                                                                                                                                                                                                                                                                                       543
Advertising                                                                                                                                                                                                                                                                                                                                               457
Manufacturing                                                                                                                                                                                                                                                                                                                                             368
Semiconductors                                                                                                                                                                                                                                                                                                                                            362
Health and Wellness                                                                                                                                                                                                                                                                                                                                       334
Education                                                                                                                                                                                                                                                                                                                                                 331
Security                                                                                                                                                                                                                                                                                                                                                  287
Finance                                                                                                                                                                                                                                                                                                                                                   276
Web Hosting                                                                                                                                                                                                                                                                                                                                               270
Social Media                                                                                                                                                                                                                                                                                                                                              248
Analytics                                                                                                                                                                                                                                                                                                                                                 222
Technology                                                                                                                                                                                                                                                                                                                                                171
Consulting                                                                                                                                                                                                                                                                                                                                                168
Fashion                                                                                                                                                                                                                                                                                                                                                   166
Travel                                                                                                                                                                                                                                                                                                                                                    156
Hospitality                                                                                                                                                                                                                                                                                                                                               153
Internet                                                                                                                                                                                                                                                                                                                                                  141
News                                                                                                                                                                                                                                                                                                                                                      127
Messaging                                                                                                                                                                                                                                                                                                                                                 126
Real Estate                                                                                                                                                                                                                                                                                                                                               126
Biotechnology|Health Diagnostics                                                                                                                                                                                                                                                                                                                          126
                                                                                                                                                                                                                                                                                                                                                         ...
Credit|Mobile                                                                                                                                                                                                                                                                                                                                               1
Automotive|Collaboration|CRM|Email|Lead Management|Project Management|Public Relations|Task Management|Tracking                                                                                                                                                                                                                                             1
E-Commerce|Fashion|Retail|Subscription Businesses                                                                                                                                                                                                                                                                                                           1
Business Services|Market Research|Search Marketing                                                                                                                                                                                                                                                                                                          1
Architecture|Design|Green                                                                                                                                                                                                                                                                                                                                   1
Analytics|Human Resources|SaaS                                                                                                                                                                                                                                                                                                                              1
Data Integration|Employer Benefits Programs|Health and Insurance|Human Resources|Software Compliance                                                                                                                                                                                                                                                        1
Entertainment|Internet|Online Gaming                                                                                                                                                                                                                                                                                                                        1
E-Commerce|E-Commerce Platforms|Lead Generation|Online Shopping                                                                                                                                                                                                                                                                                             1
Government Innovation|Local|Mobile|Real Estate                                                                                                                                                                                                                                                                                                              1
Automotive|Business Services|Technology                                                                                                                                                                                                                                                                                                                     1
Clean Technology|Internet of Things|Mobile|Renewable Energies                                                                                                                                                                                                                                                                                               1
Curated Web|Finance|Identity                                                                                                                                                                                                                                                                                                                                1
Clean Technology|Energy|New Product Development                                                                                                                                                                                                                                                                                                             1
Databases|Real Time|Software                                                                                                                                                                                                                                                                                                                                1
Consumer Goods|Non Profit|Organic                                                                                                                                                                                                                                                                                                                           1
Billing|Curated Web|Mobile|Mobile Payments|Personal Finance                                                                                                                                                                                                                                                                                                 1
Apps|Identity|Local|Social Media                                                                                                                                                                                                                                                                                                                            1
Enterprise Software|Natural Language Processing|Search|Visualization                                                                                                                                                                                                                                                                                        1
Android|Apps|Bridging Online and Offline|Home Decor|Home & Garden|Home Renovation|Interior Design|iOS|Landscaping|Local|Local Advertising|Local Based Services|Marketplaces|Mobile Search|Mobile Social|Mobile Video|Online Scheduling|Plumbers|Professional Services|Real Time|Reviews and Recommendations|Service Providers|Social + Mobile + Local       1
Comparison Shopping|Events                                                                                                                                                                                                                                                                                                                                  1
Analytics|E-Commerce|Supply Chain Management                                                                                                                                                                                                                                                                                                                1
Agriculture|Financial Services|Startups                                                                                                                                                                                                                                                                                                                     1
Analytics|Computers|Enterprise Software                                                                                                                                                                                                                                                                                                                     1
Certification Test|Enterprise Software|Linux|Skill Assessment|Training                                                                                                                                                                                                                                                                                      1
Advertising|Internet Marketing|Search Marketing                                                                                                                                                                                                                                                                                                             1

In [98]:
df['domain'].fillna("Software", inplace = True)

In [99]:
df['domain']= le.fit_transform(df['domain'])

In [100]:
df['domain'].isna().sum()

0

In [102]:
df['domain'].dtypes

dtype('int32')

In [103]:
df['domain'].unique()

array([16580, 12292,  4780, ..., 14271,  2856, 11444], dtype=int64)

In [104]:
df['domain'].value_counts()

17405    4594
5375     1883
11122     831
16190     762
6769      678
9361      677
12514     611
13891     595
14356     590
14218     543
385       457
15872     368
17232     362
14571     334
11890     331
17210     287
13420     276
17579     270
17350     248
1739      222
17497     171
8191      168
13285     166
17539     156
14803     153
15284     141
16674     127
17029     126
5468      126
16134     126
         ...
9808        1
5750        1
3701        1
1652        1
15987       1
13938       1
11889       1
9840        1
7767        1
5718        1
3669        1
1620        1
15955       1
13906       1
7735        1
7671        1
5686        1
3637        1
1588        1
15923       1
13874       1
11825       1
9776        1
5654        1
1556        1
15891       1
13842       1
11793       1
9744        1
0           1
Name: domain, Length: 17647, dtype: int64

In [105]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                       0
founded_on               10214
hq_country_code           4514
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd            0
funding_rounds               0
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [107]:
df['hq_country_code'].unique()

array(['GBR', 'USA', 'JPN', 'ISR', nan, 'RUS', 'IND', 'CHN', 'FRA', 'NOR',
       'CZE', 'IRL', 'MYS', 'NLD', 'BRA', 'CAN', 'DEU', 'CHE', 'SGP',
       'BEL', 'LBN', 'ESP', 'ITA', 'KHM', 'SWE', 'KOR', 'SAU', 'SVK',
       'DNK', 'TWN', 'CHL', 'AUS', 'VNM', 'LVA', 'THA', 'MEX', 'FIN',
       'ROM', 'ARG', 'ARM', 'PRT', 'LTU', 'GRC', 'POL', 'COL', 'JOR',
       'BGD', 'HUN', 'PHL', 'HKG', 'AUT', 'IDN', 'SEN', 'MUS', 'ARE',
       'EST', 'PER', 'BGR', 'KAZ', 'LUX', 'URY', 'GEO', 'ZAF', 'TAN',
       'TUR', 'NZL', 'UKR', 'ISL', 'BLM', 'SVN', 'PAK', 'TTO', 'GTM',
       'NGA', 'BHR', 'GHA', 'EGY', 'KEN', 'CYP', 'VEN', 'AZE', 'PSE',
       'ZMB', 'MCO', 'MKD', 'UGA', ' http://www.dreamlines.ru ', 'CYM',
       'MAR', 'SRB', 'JAM', 'BMU', 'MNE', 'GGY', 'HRV', 'MOZ', 'ZWE',
       'MLT', 'HND', 'PAN', 'TGO', 'CRI', 'GRD', 'BWA', 'GIB', 'KNA',
       'LKA', 'NIC', '2001-10-01', 'BRN', 'PRI', 'LAO', 'SLV', 'BLR',
       'RWA', 'LIE', 'ECU', 'BAH', 'MMR', '2005-01-01', 'NPL', 'PRY',
       'TUN', 'CMR', 'ALB', 'MDA', 'MAF'], dtype=object)

In [108]:
df['hq_country_code'].value_counts()

USA                           20728
GBR                            2559
CHN                            1243
IND                            1113
CAN                            1030
FRA                             841
DEU                             823
ISR                             688
ESP                             508
SWE                             331
JPN                             321
RUS                             320
NLD                             318
IRL                             312
SGP                             308
BRA                             303
CHL                             284
ITA                             276
AUS                             262
KOR                             241
DNK                             235
CHE                             210
FIN                             200
ARG                             145
HKG                             143
TUR                             119
BEL                             117
NOR                             100
AUT                              99
POL                              92
                              ...
LAO                               2
KNA                               1
 http://www.dreamlines.ru         1
JAM                               1
BWA                               1
BRN                               1
GEO                               1
ZWE                               1
NIC                               1
MAF                               1
GIB                               1
2005-01-01                        1
MAR                               1
2001-10-01                        1
ALB                               1
BLM                               1
MDA                               1
KAZ                               1
TGO                               1
GRD                               1
LIE                               1
BLR                               1
PRY                               1
SEN                               1
MNE                               1
NPL                               1
GGY                               1
HND                               1
CMR                               1
MCO                               1
Name: hq_country_code, Length: 126, dtype: int64

In [109]:
df['hq_country_code'].replace(" http://www.dreamlines.ru ","RUS",inplace=True)
df['hq_country_code'].replace("2001-10-01","CHN",inplace=True)
df['hq_country_code'].replace("2005-01-01","IND",inplace=True)
df['hq_country_code'].fillna("USA", inplace = True)

In [110]:
df['hq_country_code'].unique()

array(['GBR', 'USA', 'JPN', 'ISR', 'RUS', 'IND', 'CHN', 'FRA', 'NOR',
       'CZE', 'IRL', 'MYS', 'NLD', 'BRA', 'CAN', 'DEU', 'CHE', 'SGP',
       'BEL', 'LBN', 'ESP', 'ITA', 'KHM', 'SWE', 'KOR', 'SAU', 'SVK',
       'DNK', 'TWN', 'CHL', 'AUS', 'VNM', 'LVA', 'THA', 'MEX', 'FIN',
       'ROM', 'ARG', 'ARM', 'PRT', 'LTU', 'GRC', 'POL', 'COL', 'JOR',
       'BGD', 'HUN', 'PHL', 'HKG', 'AUT', 'IDN', 'SEN', 'MUS', 'ARE',
       'EST', 'PER', 'BGR', 'KAZ', 'LUX', 'URY', 'GEO', 'ZAF', 'TAN',
       'TUR', 'NZL', 'UKR', 'ISL', 'BLM', 'SVN', 'PAK', 'TTO', 'GTM',
       'NGA', 'BHR', 'GHA', 'EGY', 'KEN', 'CYP', 'VEN', 'AZE', 'PSE',
       'ZMB', 'MCO', 'MKD', 'UGA', 'CYM', 'MAR', 'SRB', 'JAM', 'BMU',
       'MNE', 'GGY', 'HRV', 'MOZ', 'ZWE', 'MLT', 'HND', 'PAN', 'TGO',
       'CRI', 'GRD', 'BWA', 'GIB', 'KNA', 'LKA', 'NIC', 'BRN', 'PRI',
       'LAO', 'SLV', 'BLR', 'RWA', 'LIE', 'ECU', 'BAH', 'MMR', 'NPL',
       'PRY', 'TUN', 'CMR', 'ALB', 'MDA', 'MAF'], dtype=object)

In [114]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                       0
founded_on               10214
hq_country_code              0
hq_state_code             5590
hq_region                 5248
hq_city                   5246
total_funding_usd            0
funding_rounds               0
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [115]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                  int32
domain                     int32
founded_on                object
hq_country_code            int32
hq_state_code             object
hq_region                 object
hq_city                   object
total_funding_usd         object
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [113]:
df['hq_country_code']= le.fit_transform(df['hq_country_code'])

In [116]:
df['hq_state_code'].unique()

array(['M4', 'NY', 'PA', 'CA', 'WA', 'L3', 'IN', '40', '5', nan, 'FL',
       '48', '19', '22', 'A8', '13', 'I2', '4', 'MA', 'TX', 'TN', 'H9',
       '7', '27', 'ON', '10', 'MI', 'CT', 'BC', '1', 'B9', 'CO', 'MD',
       'UT', '16', '2', 'AZ', 'AL', '60', 'OH', '23', 'B4', 'IL', 'SC',
       'DE', '56', 'KY', '12', '29', '11', 'E6', 'DC', '21', '26', 'H3',
       'NC', 'MB', '30', 'OR', 'H2', 'AB', 'H4', '6', '14', '87', '17',
       'B7', 'KS', '24', 'QC', '25', 'P6', 'C8', '51', 'K2', 'R3', 'VA',
       '31', 'E4', 'NH', 'NJ', 'A9', 'MN', '3', 'N5', 'NL', 'K7', '9',
       'V2', 'D4', 'U8', 'G8', '15', 'Q4', 'MO', '34', 'X1', '52', '28',
       'GA', 'H8', 'HI', '20', 'OK', '65', '77', '81', 'Z7', 'NV', 'D9',
       'M2', 'WI', '8', '97', 'L9', 'RI', 'VT', '32', '36', 'C5', 'X5',
       'ME', '78', '18', 'C3', 'NE', 'V7', 'P9', 'NM', 'A2', 'I6', 'B8',
       'N7', 'AK', 'P2', 'D7', 'Q2', '57', 'IA', '59', 'B3', 'SD', 'C9',
       '61', 'I7', 'E5', 'F2', 'AR', 'W9', '35', 'WY', '46', 'E7', 'B5',
       'NS', 'F7', 'T9', 'MT', 'J8', '42', 'P8', 'C7', '62', 'ID', 'P4',
       'C1', 'L1', 'F8', 'E9', 'G2', '98', '73', 'C6', 'A7', 'J6', 'A6',
       '54', 'V8', 'B6', 'P3', 'W1', 'Z3', '53', '71', 'Q5', 'I5', 'ND',
       '41', 'LA', 'N2', 'X4', 'N1', 'F4', 'G5', 'A1', 'M9', '66', 'J7',
       '33', '83', '55', 'D2', 'X3', 'R6', 'D3', 'E2', 'A5', 'K8', 'K3',
       'U6', 'C2', 'A3', 'M3', '68', 'J1', 'K4', '88', 'V1', '37', '72',
       'B1', '86', ' http://www.1000Kreuzfahrten.de ', '45', 'T6', 'Q3',
       '99', 'Z1', 'G7', 'A4', 'D5', 'VI', 'D8', 'I9', 'H5', 'W5', '58',
       'W4', 'Y6', 'J2', 'I4', 'WE', 'NB', '43', 'T5', 'U3', 'J9', 'V6',
       'N4', 'SK', 'U1', 'E1', 'Y9', '38', 'F1', 'W6', '82', 'V5', 'USA',
       'Y2', 'M5', 'MS', 'D6', 'Q1', 'L7', 'N3', 'G1', 'WV', 'W2', '89',
       'H7', 'L6', '39', 'E8', 'F5', 'L8', 'J3', 'Y4', 'PE', 'W3', '79',
       '47', 'E3', 'Y5', 'J5', '90', 'F9', 'B2', '44', 'O3', '50', 'M8',
       'Q6', 'X2', 'Y1', '91'], dtype=object)

In [117]:
df['hq_state_code'].replace(' http://www.1000Kreuzfahrten.de ','NY',inplace=True)
df['hq_state_code'].fillna('NY', inplace = True)

In [118]:
df['hq_state_code']= le.fit_transform(df['hq_state_code'])

In [125]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                  int32
domain                     int32
founded_on                object
hq_country_code            int32
hq_state_code              int32
hq_region                  int32
hq_city                   object
total_funding_usd         object
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [126]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                       0
founded_on               10214
hq_country_code              0
hq_state_code                0
hq_region                    0
hq_city                   5246
total_funding_usd            0
funding_rounds               0
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [120]:
df['hq_state_code'].unique()

array([192, 221, 233, 114, 275, 184, 167,  34,  43, 143,  42,  10,  14,
        89,   4, 158,  33, 196, 252, 251, 156,  61,  19, 225,   1, 200,
       116, 105,   0, 104, 115, 198, 258,   7,  11,  95,  93,  55, 223,
        15,  99, 166, 245, 126,  50, 182,   3,  21,   2, 132, 125,  13,
        18, 151, 212, 197,  23, 226, 150,  91, 152,  54,   5,  73,   8,
       102, 181,  16, 241,  17, 230, 112,  45, 176, 242, 265,  24, 130,
       215, 216,  90, 201,  22, 209, 217, 179,  76, 260, 119, 256, 148,
         6, 238, 202,  27, 280,  46,  20, 149, 155, 157,  12, 224,  58,
        65,  69, 293, 220, 124, 190, 277,  68,  79, 188, 244, 267,  25,
        29, 109, 284, 199,  66,   9, 108, 214, 263, 232, 218,  83, 161,
       103, 210,  92, 227, 122, 236,  51, 164,  53,  98, 246, 113,  56,
       162, 131, 137,  94, 274,  28, 279,  40, 133, 100, 219, 140, 250,
       204, 174,  36, 231, 111,  57, 165, 229, 106, 183, 141, 135, 145,
        80,  64, 110,  88, 172,  87,  48, 264, 101, 228, 268, 292,  47,
        62, 239, 160, 213,  35, 189, 206, 283, 205, 138, 146,  82, 195,
        59, 173,  26,  71,  49, 117, 282, 243, 118, 128,  86, 180, 177,
       255, 107,  84, 191,  60, 168, 178,  74, 259,  30,  63,  96,  72,
        39, 249, 237,  81, 291, 147,  85, 120, 266, 123, 163, 153, 272,
        52, 271, 289, 169, 159, 276, 211,  37, 248, 254, 175, 262, 208,
       247, 253, 127, 290,  31, 136, 273,  70, 261, 257, 286, 193, 203,
       121, 235, 186, 207, 144, 278, 269,  75, 154, 185,  32, 134, 139,
       187, 170, 287, 234, 270,  67,  41, 129, 288, 171,  77, 142,  97,
        38, 222,  44, 194, 240, 281, 285,  78], dtype=int64)

In [122]:
df['hq_region'].unique()

array(['London', 'Long Island', 'Pittsburgh', 'SF Bay Area', 'Seattle',
       'Rotherham', nan, 'Tokyo', 'Tel Aviv', 'Tampa', 'Moscow',
       'Bangalore', 'Beijing', 'Paris', 'Oslo', 'Manchester', 'Cork',
       'Boston', 'Austin', 'MYS - Other', 'Memphis', 'Amsterdam',
       'Sao Paulo', 'New York City', 'Toronto', 'CHN - Other', 'Detroit',
       'Hartford', 'Vancouver', 'Frankfurt', 'CHE - Other', 'Lyon',
       'San Diego', 'Denver', 'Washington, D.C.', 'Singapore', 'Brussels',
       'Salt Lake City', 'New Delhi', 'Beirut', 'DEU - Other',
       'Los Angeles', 'Phoenix', 'Birmingham', 'Valencia', 'Cleveland',
       'Geneva', 'Shanghai', 'Lausanne', 'Lysaker', 'Nashville',
       'GBR - Other', 'Chicago', 'Greenville - Spartanburg', 'CA - Other',
       'FRA - Other', 'Wilmington, Delaware', 'Cincinnati', 'Barcelona',
       'Lexington', 'Turin', 'Amersham', 'Phnom Penh', 'Cirencester',
       'Hamburg', 'Rio de Janeiro', 'Stockholm', 'Leeds', 'Raleigh',
       'Winnipeg', 'Shenzhen', 'Akron - Canton', 'Seoul', 'Bonn',
       'Portland, Oregon', 'Dallas', 'SC - Other', 'Calgary', 'Leicester',
       'NLD - Other', 'ITA - Other', 'Malmo', 'Madrid', 'Philadelphia',
       'Jeddah', 'CZE - Other', 'Bratislava', 'Copenhagen', 'Bristol',
       'KS - Other', 'Taiwan', 'Santiago', 'Zurich', 'Ivry-sur-seine',
       'Pune', 'Melbourne', 'Columbus, Ohio', 'Ho Chi Minh', 'Montreal',
       'Sydney', 'Riga', 'Haywards Heath', 'TN - Other', 'Palm Beaches',
       'Malaga', 'Baltimore', 'TX - Other', 'Spokane', 'Belfast',
       'Lansing', 'Anaheim', 'Bangkok', 'Preston', 'Richmond', 'Yucatan',
       'Bundangdong', 'Manchester, New Hampshire', 'Newark', 'PA - Other',
       'Rotterdam', 'Montpellier', 'Miami', 'Minneapolis', 'ISR - Other',
       'Sunderland Bridge', "St. John's", 'Dayton', 'Mumbai', 'Dublin',
       'Milan', 'Glasgow', 'Mexico City', 'Alexandria', 'Helsinki',
       'Bucharest', 'Paignton', 'Edinburgh', 'MN - Other', 'MEX - Other',
       'Quebec City', 'BRA - Other', 'Buenos Aires', 'Ulm', 'Guangzhou',
       'Fresno', 'St. Louis', 'ESP - Other', 'Liverpool', 'Prague',
       'Kolkata', 'Atlanta', 'Kuala Lumpur', 'Alicante', 'Buffalo',
       'Ottawa', 'Frederiksberg', 'Leipzig', 'Berlin', 'IND - Other',
       'Cologne', 'Honolulu', 'Roncade', 'Linkoping', 'Tulsa',
       'Louisville', 'ARM - Other', 'Lisbon', 'Harlingen', 'Vilnius',
       'Galway', 'ThessalonÃ\xadki', 'Krakow', 'Bogota', 'Allentown',
       'Amman', 'Netanya', 'Dhaka', 'Tucson', 'Budapest', 'Macclesfield',
       'Hagerstown', 'Las Vegas', 'Lancaster', 'Manila', 'AUS - Other',
       'Solihull', 'Oklahoma City', 'NOR - Other', 'Braunschweig',
       'Kansas City', 'Napoli', 'Napa Valley', 'WI - Other', 'Houston',
       'Hong Kong', 'Sheffield', 'Providence', 'Scranton', 'Graz',
       'VT - Other', 'Utrecht', 'The Hague', 'Porto Alegre',
       'Ft. Lauderdale', 'Dresden', 'MA - Other', 'Haryana', 'Antwerp',
       'Chester', 'Indianapolis', 'Cardiff', 'Vellore', 'Jakarta',
       'ME - Other', 'Burnaby', 'Martinsried', 'Munich', 'Sacramento',
       'SEN - Other', 'JPN - Other', 'Warsaw', 'Milwaukee', 'Vienna',
       'Worcester', 'Rome', 'Springfield, Illinois', 'Edmonton',
       'Seongnam', 'Grand Rapids', 'IRL - Other', 'New Bedford',
       'Bordeaux', 'Chengdu', 'Oulu', 'Yokohama', 'Logrono', 'Rockford',
       'Omaha', 'Delhi', 'Bakersfield', 'Mauritius', 'Albuquerque',
       'Chattanooga', 'Incheon', 'Basel', 'OH - Other', 'Madison',
       'Shandong', 'San Antonio', 'Fuzhou Shi', 'Ancona', 'Nagpur',
       'Wuhan', 'Riyadh', 'Green Bay', 'Salford', 'Hyderabad',
       'CO - Other', 'Dubai', 'NY - Other', 'Fortaleza', 'Dusseldrof',
       'Perth', 'Huddersfield', 'Cordoba', 'CT - Other', 'Haifa',
       'AK - Other', 'Warrington', 'Beaconsfield', 'Stourbridge',
       'Stuttgart', 'Youngstown', 'Wokingham', 'Kaunas',
       'Sarasota - Bradenton', 'Montpelier', 'Des Moines',
       'San Sebastian ', 'Xiamen', 'Lima', 'IA - Other', 'Tallinn',
       'PRT - Other', 'Groningen', 'Toulouse', 'Vadodara', 'KAZ - Other',
       'Sioux Falls', 'Esch-sur-alzette', 'Gothenburg', 'Montevideo',
       'South Bend', 'Osaka', 'Tbilisi', 'Great Missenden', 'Sofia',
       'Venice', 'Jaipur', 'RUS - Other', 'HKG - Other', 'Montreuil',
       'Mannheim', 'Adelaide', 'AL - Other', 'Harrisburg', 'Gateshead',
       'Pozuelo De Alarcon', 'Campinas', 'Monterrey', 'Cape Town',
       'Ahmedabad', 'DNK - Other', 'Jena', 'Orlando',
       "Florida's Space Coast", 'Marseille', 'Syracuse', 'Exeter',
       'Atlantic City', 'TZA - Other', 'Bochum', 'Jacksonville',
       'Little Rock', 'Livingston', 'Charlotte', 'Indore', 'NJ - Other',
       'WY - Other', 'GRC - Other', 'Istanbul', 'NZL - Other', 'Auckland',
       'MD - Other', 'Nantes', 'Villeurbanne', 'VA - Other', 'Medellin',
       'Orange County, California', 'Fredericton', 'Halifax', 'Chennai',
       'NoÃ¡in', 'Vail', 'Hanoi', 'Asheville', 'Missoula', 'Brasilia',
       'Billings', 'Santa Barbara', 'Bremen', 'Dubendorf', 'Nottingham',
       'Peoria', 'MO - Other', 'Chemnitz', 'Cape Cod', 'Nice', 'Reyjavik',
       'QC - Other', 'Saint-laurent', 'Huntsville', 'Lulea',
       'Charleston, South Carolina', 'Kiev', 'Cadiz', 'Carthage',
       'Newcastle', 'Tianjin', 'BLM - Other', 'Coventry', 'Ljubljana',
       'Phuket', 'Boise', 'Columbus, Georgia', 'Portland, Maine',
       'Strasbourg', 'Stavanger', 'Wan Chai', 'Knoxville', 'Regensburg',
       'Welwyn Garden City', 'Hangzhou', 'ItÃ¡', 'Daresbury',
       'TUR - Other', 'Fayetteville', 'Wellington', 'Limerick',
       'Grenoble', 'PAK - Other', 'Kalamazoo', 'Naples, Florida',
       'Curitiba', 'Leudelange', 'Innsbruck', 'Eugene', 'Alcoy',
       'Cordoba, ARG', 'Clermont-ferrand', 'Kazan', 'Kuopio',
       'Rochester, New York', 'TTO - Other', 'Fort Wayne', 'Malakoff',
       'Vejle', 'HUN - Other', 'IN - Other', 'Reno - Sparks', 'Tampere',
       'Bellshill', 'Herlev', 'Trondheim', 'AUT - Other', 'Etobicoke',
       'Guatemala City', 'Lugano', 'Bologna', 'Lagos', 'Turku',
       'AR - Other', 'Bahrain', 'Chongqing', 'Sundsvall', 'Skien',
       'Accra', 'Crook Of Devon', 'NC - Other', 'MI - Other', 'Porto',
       'Burleigh Heads', 'Cheltenham', 'Toledo', 'Wuxi', 'Flint', 'Perm',
       'BEL - Other', 'Sutton Coldfield', 'Tralee', 'Frensham',
       'Middlesbrough', 'Anchorage', 'Fargo', 'Guangdong', 'Baton Rouge',
       'Stockport', 'Caerphilly', 'Chiasso', 'BC - Other', 'Aarhus',
       'Stanmore', 'Ã‡an', 'Fribourg', 'Kent', 'Portsmouth',
       'Cedar Rapids', 'ND - Other', 'Albany, New York', 'KY - Other',
       'CYP - Other', 'Colorado Springs', 'Landshut', 'COL - Other',
       'Cairo', 'Snodland', 'EST - Other', 'SWE - Other', 'Igualada',
       'FL - Other', 'Trowbridge', 'Elmira', 'St. Petersburg', 'Nairobi',
       'Ely', 'Sandnes', 'Nanjing', 'Harrogate',
       'Columbia, South Carolina', 'NGA - Other', 'Baar', 'AZE - Other',
       'Odense', 'Verona', 'Dartmouth', 'ZMB - Other', 'Katowice',
       'Mendoza, ARG', 'Lahore', 'Brisbane', 'Jinan', 'PHL - Other',
       'IDN - Other', 'Oxton', 'Johannesburg', 'Valladolid', 'Derby',
       'Rennes', 'Danderyd', 'Bridgend', 'Fort Collins', 'Dover',
       'Cluj-Napoca', 'Coleraine', 'Coimbatore', 'Roanoke', 'Alfreton',
       'Trivandrum', 'Tallahassee', 'Hanover', 'Eindhoven', 'LabÃ¨ge',
       'Gardanne', 'FIN - Other', 'Ontario - Inland Empire',
       'Garching Bei Munchen', 'New Orleans', 'Florence', 'WA - Other',
       'Daytona Beach', 'Bhopal', 'Ilford', 'KOR - Other', 'Peterborough',
       'Branson', 'Duluth', 'Recife', 'Newton-le-willows',
       'Le Plessis-robinson', 'Borehamwood', 'Schlieren', 'Camborne',
       'Fort Myers', 'Skopje', 'Athens', 'Davao', 'Manaus', 'ZAF - Other',
       'Newbury', 'Nuneaton', 'Ankara', 'IL - Other', 'Shreveport',
       'Topeka', 'Seville', 'Twickenham', 'Athens, Georgia', 'Zhengzhou',
       'Plymouth', 'Pensacola', 'Lafayette, Louisiana', 'Penang',
       'Dunfermline', 'Shenyang', 'Kampala', 'ID - Other', 'AB - Other',
       'Fornebu', 'Wroclaw', 'Abuja', 'Causeway Bay', 'Royston',
       'UT - Other', 'Girona', 'Taastrup', 'Moncton', 'NE - Other',
       'Poznan', 'Bromsgrove', 'Thunder Bay', 'Kanata',
       ' http://www.dreamlines.nl ', 'Cebu', 'Norfolk - Virginia Beach',
       'Hilton Head Island', 'ARG - Other', 'Puteaux',
       'Bolton Upon Dearne', 'Cayman Islands', 'Gainesville', 'Trenton',
       'Herisau', 'Casablanca', 'York', 'Sacramento Valley',
       'Thiruvananthapuram', 'Erlangen', 'Lappeenranta', 'Luxemburg',
       'Heilbronn', 'San Luis Obispo', 'PER - Other', 'Iasi',
       'NM - Other', 'Tewkesbury', 'Staines-upon-thames', 'Dortmund',
       'Secunderabad', 'Swindon', 'SRB - Other', 'JAM - Other',
       'Salem, Oregon', 'LA - Other', 'Canberra', 'Wolverhampton',
       'Roubaix', 'POL - Other', 'GHA - Other', 'Carlisle',
       'San SebastiÃ¡n De Los Reyes', 'Swansea', 'Halmstad', 'Goa',
       'Surbiton', 'Palma De Mallorca', 'Gatineau', 'Linz', 'Aachen',
       'EGY - Other', 'Clapiers', 'Norrkoping', 'Greensboro', 'Bermuda',
       'Valby', 'Kelowna', 'Neuilly-sur-seine', 'Bath',
       'Harrow On The Hill', 'West End', 'St. Cloud', 'MNE - Other',
       'Ballerup', 'Ecublens', 'Kyoto', 'Myrtle Beach', 'Nuremberg',
       'Rostock', 'GGY - Other', 'Terrassa', 'MaroÃºli', 'Holmes Chapel',
       'Grand Junction', 'HRV - Other', 'Loughborough', 'Finchley',
       'Starnberg', 'Bilbao', 'Durham', 'Naples', 'Cagliari', 'A Coruna',
       'HÃ¸rsholm', 'Szczecin', 'Thane', 'Linlithgow', 'Ludhiana',
       'Warwick', 'Ayr', 'Newport', 'Bhubaneswar', 'Freiburg',
       'RI - Other', 'Bertrange', 'Osnabruck', 'SVN - Other',
       'LVA - Other', 'MOZ - Other', 'Salisbury', 'Idaho Falls', 'Pessac',
       'Sant Cugat Del VallÃ¨s', 'Jerusalem', 'Wimbledon', 'Guadalajara',
       'Harare', 'ON - Other', 'Essen', 'Knutsford', 'Hubli',
       'JyvÃ¤skylÃ¤', 'Boulogne', 'Belgrade', 'Kunshan', 'Palermo',
       'Catania', 'GA - Other', 'Aldershot', 'Reggio Nell Emilia',
       'HND - Other', 'Nyon', 'Aberdeen', 'LTU - Other', 'Panama City',
       'Dundee', 'Firenze', 'Zagreb', 'Dornbirn', 'TGO - Other',
       'Douglas', 'Stoke-on-trent', 'CÃ¡ceres', 'Leamington Spa',
       'Saskatoon', 'Bradford', 'Bidart', 'Ismaning', 'Bismarck',
       'CRI - Other', 'SD - Other',
       'Wilmington - Cape Fear, North Carolina', 'Brossard',
       'GRD - Other', 'Novosibirsk', 'GIB - Other', 'SK - Other',
       'Zamudio', 'Karachi', 'Timisoara', 'Bozeman', 'Umea', 'Westmount',
       'KNA - Other', 'Doncaster', 'Aix-en-provence',
       'Halle An Der Saale', 'Tunbridge Wells', 'Springfield', 'Dunedin',
       'Aalborg', 'Hainan', 'Sri Lanka', 'Sligo', 'Northampton',
       'Sheung Wan', 'Jakarta Pusat', 'Winston-Salem', 'Traverse City',
       'Christchurch', 'State College', 'Zaragoza', 'Stirling', 'Watford',
       'Gdynia', 'Santa Cruz De Tenerife', 'NH - Other', 'Ã‰vry', 'Split',
       'Farrington Gurney', 'Sittingbourne', 'Islamabad', 'Abu Dhabi',
       'Magdeburg', 'CA', 'Wichita', 'Runcorn', 'Maui', 'Jounie',
       'Hawaii - Big Island', 'DÃºn Laoghaire', 'Helena', 'Izmir',
       'Orsay', 'Mysore', 'Cyprus', 'Orleans', 'Gdansk', 'Vantaa',
       'BGR - Other', 'MS - Other', 'Granada', 'Coimbra', 'Brescia',
       'Jonkoping', 'Zhuhai', 'Nizhniy Novgorod', 'Pisa', 'Yerevan',
       'Salzburg', 'Foshan', 'Strassen', 'Alton Barnes',
       "Florida's Treasure Coast", 'MUS - Other', 'Alcorcon',
       'CHL - Other', 'Oldbury', 'Stockton-on-tees', 'Puerto Rico',
       'KEN - Other', 'Brentford', 'LAO - Other', 'Tromso', 'Dki Jakarta',
       'WV - Other', 'Weybridge', 'AllerÃ¸d', 'Eight Mile Plains',
       'Murcia', 'NS - Other', 'Mangalore', 'Paisley', 'Reigate', 'Baku',
       'Lachine', 'Kochi', 'Passau', 'Lyngby', 'Kassel', 'Luzern',
       'Trento', 'Costa Rica', 'Cochin', 'Vijayawada', 'Poole',
       'Teddington', 'Picardie', 'SLV - Other', 'Bielefeld',
       'Palm Springs', 'AZ - Other', 'Faridabad', 'Elche', 'Odessa',
       'Jackson', 'Altrincham', 'Oberhaching', 'Saint-denis-sur-loire',
       'OK - Other', 'DE - Other', 'Victoria', 'Minsk', 'Birkenhead',
       'Surrey', 'Busan', 'Binton', 'ISL - Other', 'Kigali',
       'Palma Del RÃ\xado', 'Daejeon', 'Bromborough', 'UKR - Other',
       'Farum', 'Yverdon-les-bains', 'Hungerford', 'Herzogenaurach',
       'Wellingborough', 'Reinach', 'Kanpur', 'Hefei', 'La Rochelle',
       'NV - Other', 'LIE - Other', 'Chandigarh', 'Hereford',
       'Steinhausen', 'Cwmbran', 'Leon', 'Konya', 'Omsk', 'Vevey',
       'Nasik', 'ECU - Other', 'Charleston, West Virginia', 'Udupi',
       'Charlottetown', "Champagne-au-mont-d'or", 'Paterna De Rivera',
       'BHS - Other', 'Hellerup', 'Kolding', 'Belgaum', 'Annecy',
       'IoÃ¡nnina', 'Pontypridd', 'Bormujos', 'Lucca', 'LUX - Other',
       'Castelldefels', 'Monterey', 'Santander', 'Camberley', 'Banbury',
       'NB - Other', 'Yangon', 'Rochester, Minnesota',
       'Biloxi - Gulfport', 'Moline - Davenport', 'Parma', 'SVK - Other',
       'Blackrock', 'Malta', 'Enfield Lock', 'Melbourn', 'Wetzlar',
       'Tupelo', 'Medford', 'Kristiansand', 'Monheim', 'Surat', 'NY',
       'Halle-neustadt', 'Stratford-upon-avon', 'Hamilton', 'Stafford',
       'VNM - Other', 'Kathmandu', 'Heathrow', 'Leonberg', 'KHM - Other',
       'Lannion', 'PRY - Other', 'Bushey', 'Saarbrucken', 'Tunis',
       'Truro', 'TUN - Other', 'Wexford', 'Seminole', 'Bergamo', 'Modena',
       'Limoges', 'Thame', 'Mulgrave', 'Lviv', 'Marlborough',
       'Sutton Saint James', 'CMR - Other', 'Quarry Bay', 'MB - Other',
       'Almeria', 'Sarnen', 'Rugby', 'Salerno', 'Tirana', 'Unterhaching',
       'THA - Other', 'South Grafton', 'SÃ¨te', 'Hove', 'Bahamas',
       'Kilkenny', 'Bern', 'Newcastle Under Lyme', 'Admiralty',
       'Greenville, North Carolina', 'Bromley', 'Gilching', 'Fyshwick',
       'Brunn Am Gebirge', 'San Salvador', 'Henley On Thames',
       'Cheadle Hulme', 'Malvern Wells', 'Wilmslow', 'New Westminster',
       'Terni', 'Kolbermoor', 'PRI - Other', 'Corby', 'Burnley',
       'Illkirch-graffenstaden', 'Chisinau', 'Cannock', 'Balmain',
       'MAF - Other'], dtype=object)

In [123]:
df['hq_region'].replace(' http://www.dreamlines.nl ','NY',inplace=True)
df['hq_region'].fillna('New York City',inplace = True)

In [124]:
df['hq_region']= le.fit_transform(df['hq_region'])

In [131]:
df.dtypes

ID                         int64
comp_name                 object
website                   object
op_status                  int32
domain                     int32
founded_on                object
hq_country_code            int32
hq_state_code              int32
hq_region                  int32
hq_city                    int32
total_funding_usd        float64
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [130]:
df['hq_city'].fillna('New York',inplace = True)
df['hq_city']= le.fit_transform(df['hq_city'])

In [132]:
df.isna().sum()

ID                           0
comp_name                    0
website                   2467
op_status                    0
domain                       0
founded_on               10214
hq_country_code              0
hq_state_code                0
hq_region                    0
hq_city                      0
total_funding_usd            0
funding_rounds               0
first_funding_date           0
last_funding_date            0
num_investors                0
funding_duration             0
first_funding_utc            0
last_funding_utc             0
successful_investment        0
dtype: int64

In [133]:
cols = ['comp_name','website']
df.drop(columns = cols,inplace = True)

In [142]:
df.dtypes

ID                         int64
op_status                  int32
domain                     int32
founded_on                object
hq_country_code            int32
hq_state_code              int32
hq_region                  int32
hq_city                    int32
total_funding_usd        float64
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
dtype: object

In [10]:
df['founded_on'].head()

0           NaN
1    1995-01-01
2    2009-06-07
3           NaN
4    2014-06-01
Name: founded_on, dtype: object

In [21]:
df['founded_on']= pd.to_datetime(df['founded_on'], dayfirst=True, errors='coerce')

In [12]:
df['founded_on'].head()

0          NaT
1   1995-01-01
2   2009-06-07
3          NaT
4   2014-06-01
Name: founded_on, dtype: datetime64[ns]

In [16]:
df['founded_on'].max()

Timestamp('2015-12-15 00:00:00')

In [138]:
df['founded_on'].isna().sum()

10218

In [17]:
df['founded_on'].fillna('2015-12-15 00:00:00', inplace = True)

In [18]:
df['founded_on'].isna().sum()

0

In [22]:
df['founding_year'] = df.founded_on.dt.year

In [20]:
df['founding_year']

0           NaN
1        1995.0
2        2009.0
3           NaN
4        2014.0
5        1994.0
6           NaN
7        2009.0
8           NaN
9           NaN
10          NaN
11       2002.0
12       1999.0
13       2014.0
14       2000.0
15          NaN
16       2012.0
17       2010.0
18          NaN
19       2006.0
20       2009.0
21       2003.0
22          NaN
23          NaN
24       2010.0
25       2010.0
26       2010.0
27       2007.0
28       2000.0
29       2010.0
          ...
40183       NaN
40184    1999.0
40185       NaN
40186       NaN
40187    2002.0
40188    2013.0
40189    2002.0
40190    2010.0
40191    1996.0
40192       NaN
40193    2004.0
40194    2013.0
40195       NaN
40196    2007.0
40197       NaN
40198       NaN
40199    2008.0
40200    2013.0
40201       NaN
40202       NaN
40203       NaN
40204    2013.0
40205    2009.0
40206    2001.0
40207    1999.0
40208    2014.0
40209       NaN
40210    2003.0
40211    2012.0
40212    2011.0
Name: founding_year, Length: 40213, dtype: float64

In [23]:
df['founding_year'].fillna(2015,inplace=True)

In [24]:
df['founding_year']

0        2015
1        1995
2        2009
3        2015
4        2014
5        1994
6        2015
7        2009
8        2015
9        2015
10       2015
11       2002
12       1999
13       2014
14       2000
15       2015
16       2012
17       2010
18       2015
19       2006
20       2009
21       2003
22       2015
23       2015
24       2010
25       2010
26       2010
27       2007
28       2000
29       2010
         ...
40183    2015
40184    1999
40185    2015
40186    2015
40187    2002
40188    2013
40189    2002
40190    2010
40191    1996
40192    2015
40193    2004
40194    2013
40195    2015
40196    2007
40197    2015
40198    2015
40199    2008
40200    2013
40201    2015
40202    2015
40203    2015
40204    2013
40205    2009
40206    2001
40207    1999
40208    2014
40209    2015
40210    2003
40211    2012
40212    2011
Name: founding_year, Length: 40213, dtype: int64

In [25]:
df['founded_on']

0       2015-12-15
1       1995-01-01
2       2009-06-07
3       2015-12-15
4       2014-06-01
5       1994-07-05
6       2015-12-15
7       2009-07-01
8       2015-12-15
9       2015-12-15
10      2015-12-15
11      2002-01-01
12      1999-01-01
13      2014-01-01
14      2000-01-01
15      2015-12-15
16      2012-04-01
17      2010-06-15
18      2015-12-15
19      2006-11-01
20      2009-03-31
21      2003-10-01
22      2015-12-15
23      2015-12-15
24      2010-03-17
25      2010-03-01
26      2010-01-06
27      2007-01-01
28      2000-01-01
29      2010-01-01
           ...
40183   2015-12-15
40184   1999-01-01
40185   2015-12-15
40186   2015-12-15
40187   2002-01-01
40188   2013-01-01
40189   2002-01-01
40190   2010-01-01
40191   1996-01-01
40192   2015-12-15
40193   2004-01-01
40194   2013-01-01
40195   2015-12-15
40196   2007-01-01
40197   2015-12-15
40198   2015-12-15
40199   2008-01-01
40200   2013-11-14
40201   2015-12-15
40202   2015-12-15
40203   2015-12-15
40204   2013-05-13
40205   2009-01-01
40206   2001-01-01
40207   1999-01-01
40208   2014-02-07
40209   2015-12-15
40210   2003-01-01
40211   2012-01-01
40212   2011-01-15
Name: founded_on, Length: 40213, dtype: datetime64[ns]

In [148]:
df.dtypes

ID                         int64
op_status                  int32
domain                     int32
hq_country_code            int32
hq_state_code              int32
hq_region                  int32
hq_city                    int32
total_funding_usd        float64
funding_rounds             int64
first_funding_date        object
last_funding_date         object
num_investors              int64
funding_duration           int64
first_funding_utc        float64
last_funding_utc         float64
successful_investment      int64
founding_year              int64
dtype: object

In [149]:
df['last_funding_date'].isna().sum()

0

In [151]:
df['last_funding_date'].dtypes

dtype('O')

In [152]:
df['last_funding_date'].unique()

array(['2005-05-04', '2001-03-30', '2014-05-27', ..., '2001-11-11',
       '1999-11-15', '2002-12-27'], dtype=object)

In [153]:
df['last_funding_date']= pd.to_datetime(df['last_funding_date'], dayfirst=True, errors='coerce')

In [154]:
df['last_funding_date'].isna().sum()

0

In [155]:
df['last_funding_year'] = df.last_funding_date.dt.year

In [156]:
df.dtypes

ID                                int64
op_status                         int32
domain                            int32
hq_country_code                   int32
hq_state_code                     int32
hq_region                         int32
hq_city                           int32
total_funding_usd               float64
funding_rounds                    int64
first_funding_date               object
last_funding_date        datetime64[ns]
num_investors                     int64
funding_duration                  int64
first_funding_utc               float64
last_funding_utc                float64
successful_investment             int64
founding_year                     int64
last_funding_year                 int64
dtype: object

In [157]:
cols = ['last_funding_date','first_funding_date']
df = df.drop(columns = cols)

In [158]:
df.isna().sum()

ID                       0
op_status                0
domain                   0
hq_country_code          0
hq_state_code            0
hq_region                0
hq_city                  0
total_funding_usd        0
funding_rounds           0
num_investors            0
funding_duration         0
first_funding_utc        0
last_funding_utc         0
successful_investment    0
founding_year            0
last_funding_year        0
dtype: int64

In [159]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [160]:
del df['last_funding_year']

# Training the classifier

In [163]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [164]:
X = df
y = df.pop('successful_investment')

In [165]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)
#X_train=X_train.reshape((X_train.shape[0],1))
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(28149, 14)
(12064, 14)
(28149,)
(12064,)

In [168]:
clf = DecisionTreeClassifier(max_depth=5)
clf.fit(X_train,y_train)
pred=clf.predict(X_test)
acc = accuracy_score(y_test,pred)
print(acc)

0.9999171087533156

# Cleaning the test data

In [169]:
df2 = pd.read_csv('test.csv',low_memory=False)

In [170]:
df2.shape

(4469, 19)

In [171]:
df2.head()

,ID,comp_name,website,op_status,domain,founded_on,hq_country_code,hq_state_code,hq_region,hq_city,total_funding_usd,funding_rounds,first_funding_date,last_funding_date,num_investors,funding_duration,first_funding_utc,last_funding_utc,Unnamed: 18
0,0,MDLIVE,http://mdlive.com,operating,Health Care,2009-01-01,USA,FL,Ft. Lauderdale,Fort Lauderdale,73600000,2,2014-01-22,2015-06-24,5,518,16092,16610,NaN
1,1,APX Labs,http://apx-labs.com,operating,Software,2010-01-01,USA,VA,"Washington, D.C.",Herndon,28612936,3,2014-04-02,2015-11-18,7,595,16162,16757,NaN
2,2,9Cookies,http://www.9cookies.com/,acquired,Point of Sale|Restaurants,2012-01-01,DEU,16,Berlin,Berlin,NaN,1,2013-04-18,2013-04-18,1,0,15813,15813,NaN
3,3,Confluence Solar,http://www.confluencesolar.com,acquired,Clean Technology,NaN,USA,MO,St. Louis,Hazelwood,12700000,1,2008-09-24,2008-09-24,3,0,14146,14146,NaN
4,4,Dazo,http://dazo.in,operating,Mobile,2014-01-01,IND,19,Bangalore,Bangalore,NaN,1,2015-04-01,2015-04-01,7,0,16526,16526,NaN

In [172]:
df2.dtypes

ID                      int64
comp_name              object
website                object
op_status              object
domain                 object
founded_on             object
hq_country_code        object
hq_state_code          object
hq_region              object
hq_city                object
total_funding_usd      object
funding_rounds          int64
first_funding_date     object
last_funding_date      object
num_investors          object
funding_duration        int64
first_funding_utc       int64
last_funding_utc        int64
Unnamed: 18           float64
dtype: object

In [173]:
df2.isna().sum()

ID                       0
comp_name                1
website                284
op_status                0
domain                 213
founded_on            1190
hq_country_code        468
hq_state_code          576
hq_region              555
hq_city                555
total_funding_usd      850
funding_rounds           0
first_funding_date       0
last_funding_date        0
num_investors            0
funding_duration         0
first_funding_utc        0
last_funding_utc         0
Unnamed: 18           4468
dtype: int64

In [174]:
del df2['Unnamed: 18']

In [175]:
df2['num_investors'].unique()

array(['5', '7', '1', '3', '2', '9', '6', '13', '4', '11', '16', '17',
       '8', '14', '18', '12', '27', '21', '10', '15', '24', '19', '23',
       '20', '26', '35', '34', '46', '36', '33', '37', '30', '25',
       '2013-11-01', '45', '28', '39', '29', '22', '41', '31', '42', '53',
       '57'], dtype=object)

In [176]:
df2['num_investors'].value_counts()

1             1937
2              718
3              432
4              286
5              218
6              167
7              127
8               84
9               82
10              72
11              55
15              34
12              33
14              29
13              27
16              21
17              18
18              18
21              17
19              14
23              11
20               9
27               8
24               6
26               6
22               4
30               4
25               4
29               4
37               4
34               3
28               2
39               2
35               2
31               2
33               1
36               1
53               1
45               1
2013-11-01       1
57               1
42               1
41               1
46               1
Name: num_investors, dtype: int64

In [177]:
df2['num_investors'].replace('2013-11-01','32',inplace=True)

In [178]:
df2['num_investors'] = df2['num_investors'].apply(pd.to_numeric, errors='coerce')

In [179]:
df2['num_investors'].isna().sum()

0

In [180]:
df2.isna().sum()

ID                       0
comp_name                1
website                284
op_status                0
domain                 213
founded_on            1190
hq_country_code        468
hq_state_code          576
hq_region              555
hq_city                555
total_funding_usd      850
funding_rounds           0
first_funding_date       0
last_funding_date        0
num_investors            0
funding_duration         0
first_funding_utc        0
last_funding_utc         0
dtype: int64

In [181]:
df2.dtypes

ID                     int64
comp_name             object
website               object
op_status             object
domain                object
founded_on            object
hq_country_code       object
hq_state_code         object
hq_region             object
hq_city               object
total_funding_usd     object
funding_rounds         int64
first_funding_date    object
last_funding_date     object
num_investors          int64
funding_duration       int64
first_funding_utc      int64
last_funding_utc       int64
dtype: object

In [187]:
df2['founded_on']= pd.to_datetime(df2['founded_on'], dayfirst=True, errors='coerce')

In [183]:
df2['founded_on'].max()

Timestamp('2015-10-10 00:00:00')

In [184]:
df2['founded_on'].fillna('2015-10-10 00:00:00', inplace = True)

In [188]:
df2.isna().sum()

ID                      0
comp_name               1
website               284
op_status               0
domain                213
founded_on              0
hq_country_code       468
hq_state_code         576
hq_region             555
hq_city               555
total_funding_usd     850
funding_rounds          0
first_funding_date      0
last_funding_date       0
num_investors           0
funding_duration        0
first_funding_utc       0
last_funding_utc        0
dtype: int64

In [189]:
df2['founding_year'] = df2.founded_on.dt.year

In [190]:
df2.dtypes

ID                             int64
comp_name                     object
website                       object
op_status                     object
domain                        object
founded_on            datetime64[ns]
hq_country_code               object
hq_state_code                 object
hq_region                     object
hq_city                       object
total_funding_usd             object
funding_rounds                 int64
first_funding_date            object
last_funding_date             object
num_investors                  int64
funding_duration               int64
first_funding_utc              int64
last_funding_utc               int64
founding_year                  int64
dtype: object

In [191]:
cols = ['comp_name','website','founded_on','first_funding_date','last_funding_date']

In [192]:
df2.drop(columns = cols,inplace = True)

In [193]:
df2.dtypes

ID                    int64
op_status            object
domain               object
hq_country_code      object
hq_state_code        object
hq_region            object
hq_city              object
total_funding_usd    object
funding_rounds        int64
num_investors         int64
funding_duration      int64
first_funding_utc     int64
last_funding_utc      int64
founding_year         int64
dtype: object

In [194]:
df2['op_status'].unique()

array(['operating', 'acquired', 'closed', 'ipo',
       'jsessionid=6575C51C75FD50441F3CA7510CC0BC3D.tomcatD'],
      dtype=object)

In [195]:
df2['op_status'].value_counts()

operating                                              3440
acquired                                                494
closed                                                  438
ipo                                                      96
jsessionid=6575C51C75FD50441F3CA7510CC0BC3D.tomcatD       1
Name: op_status, dtype: int64

In [196]:
df2['op_status'].replace('jsessionid=6575C51C75FD50441F3CA7510CC0BC3D.tomcatD','operating',inplace=True)

In [197]:
df2['op_status'].value_counts()

operating    3441
acquired      494
closed        438
ipo            96
Name: op_status, dtype: int64

In [198]:
df2['op_status'].replace('closed',0,inplace=True)
df2['op_status'].replace('ipo',1,inplace=True)
df2['op_status'].replace('acquired',2,inplace=True)
df2['op_status'].replace('operating',3,inplace=True)

In [199]:
df2['op_status'] = df2['op_status'].apply(pd.to_numeric, errors='coerce')

In [200]:
df2['op_status'].value_counts()

3    3441
2     494
0     438
1      96
Name: op_status, dtype: int64

In [201]:
df2['op_status'].isna().sum()

0

In [202]:
df2.dtypes

ID                    int64
op_status             int64
domain               object
hq_country_code      object
hq_state_code        object
hq_region            object
hq_city              object
total_funding_usd    object
funding_rounds        int64
num_investors         int64
funding_duration      int64
first_funding_utc     int64
last_funding_utc      int64
founding_year         int64
dtype: object

In [203]:
df2['domain'].unique()

array(['Health Care', 'Software', 'Point of Sale|Restaurants', ...,
       'Chat|Curated Web|Messaging|Search|Social Media',
       'Analytics|Business Intelligence|Enterprise Software|SaaS|Social CRM|Social Media',
       'Design|Digital Media|Publishing'], dtype=object)

In [204]:
df2['domain'].value_counts()

Software                                                                                                                                          262
Biotechnology                                                                                                                                     202
E-Commerce                                                                                                                                        109
Clean Technology                                                                                                                                   91
Curated Web                                                                                                                                        89
Mobile                                                                                                                                             83
Health Care                                                                                                                                        68
Enterprise Software                                                                                                                                68
Hardware + Software                                                                                                                                62
Games                                                                                                                                              56
Advertising                                                                                                                                        50
Manufacturing                                                                                                                                      48
Semiconductors                                                                                                                                     41
Education                                                                                                                                          40
Analytics                                                                                                                                          31
Technology                                                                                                                                         31
Security                                                                                                                                           29
Social Media                                                                                                                                       28
Web Hosting                                                                                                                                        25
Finance                                                                                                                                            24
Health and Wellness                                                                                                                                22
Consulting                                                                                                                                         21
Travel                                                                                                                                             19
Real Estate                                                                                                                                        18
Fashion                                                                                                                                            17
Information Technology                                                                                                                             16
Hospitality                                                                                                                                        16
EdTech|Education                                                                                                                                   15
Music                                                                                                                                              13
Apps                                                                                                                                               13
                                                                                                                                                 ...
Health and Wellness|SaaS|Software                                                                                                                   1
Photo Sharing|Public Relations                                                                                                                      1
Analytics|Cloud Computing|SaaS|Software                                                                                                             1
E-Commerce|Fitness|Health and Wellness|Internet|Spas                                                                                                1
Cloud Computing|Content|Enterprise Software|News                                                                                                    1
Finance Technology|Software                                                                                                                         1
EdTech|Education|Software|Systems                                                                                                                   1
Cars|E-Commerce                                                                                                                                     1
Biotechnology|Health and Wellness|Health Care                                                                                                       1
Advertising|Advertising Exchanges|Advertising Platforms|Algorithms|Mobile|Mobile Advertising|PaaS|SaaS                                              1
Kids|Online Education|Tablets                                                                                                                       1
Data Mining|Design|Development Platforms                                                                                                            1
Beauty|E-Commerce|Marketplaces                                                                                                                      1
iPhone|Location Based Services|Mobile|Software|Startups                                                                                             1
Collaboration|Enterprise Software|Knowledge Management|Machine Learning|SaaS                                                                        1
Biotechnology|Health Care|Innovation Management|Market Research                                                                                     1
Advertising|Analytics|Market Research                                                                                                               1
CRM|Presentations|Salesforce Killers                                                                                                                1
Cyber Security                                                                                                                                      1
Analytics|Apps|Mobile                                                                                                                               1
Financial Services|Retail|Software                                                                                                                  1
Dental|Doctors|Health and Wellness|Health Care                                                                                                      1
Beauty|Cosmetic Surgery|Dental|Doctors|Health and Wellness|Lifestyle|Medical|Q&A|Reviews and Recommendations|Social Media|Social Network Media      1
Messaging|SMS                                                                                                                                       1
Cloud Computing|Emerging Markets|SaaS|Small and Medium Businesses|Software|Telephony                                                                1
Brand Marketing|Photography|SaaS                                                                                                                    1
Cloud Management|Enterprise Software                                                                                                                1
Enterprise Software|Social Business|Social Media|Social Network Media                                                                               1
Bio-Pharm|Biotechnology|Life Sciences                                                                                                               1
Android|Digital Media|Mobile|Mobile Advertising                                                                                                     1
Name: domain, Length: 2330, dtype: int64

In [205]:
df2['domain'].isna().sum()

213

In [206]:
df2['domain'].fillna('Software', inplace = True)

In [207]:
df2['domain'].isna().sum()

0

In [208]:
df2['domain'].dtypes

dtype('O')

In [209]:
le2 = LabelEncoder()

In [210]:
df2['domain']= le2.fit_transform(df2['domain'])

In [211]:
df2['domain'].value_counts()

2278    475
647     202
1332    109
832      91
1141     89
2093     83
1817     68
1535     68
1793     62
1752     56
36       50
2045     48
2247     41
1436     40
2295     31
203      31
2241     29
2270     28
2319     25
1658     24
1863     22
1005     21
2308     19
2209     18
1635     17
1906     16
1948     16
1423     15
664      13
2081     13
       ...
1118      1
1114      1
1110      1
1106      1
1098      1
1202      1
1094      1
1090      1
1086      1
1082      1
1078      1
1074      1
1130      1
1134      1
1138      1
1142      1
1150      1
1154      1
1158      1
1162      1
1166      1
1170      1
1174      1
1178      1
1182      1
1186      1
1190      1
1194      1
1198      1
0         1
Name: domain, Length: 2330, dtype: int64

In [212]:
df2['domain'] = df2['domain'].apply(pd.to_numeric, errors='coerce')

In [213]:
df2.dtypes

ID                    int64
op_status             int64
domain                int64
hq_country_code      object
hq_state_code        object
hq_region            object
hq_city              object
total_funding_usd    object
funding_rounds        int64
num_investors         int64
funding_duration      int64
first_funding_utc     int64
last_funding_utc      int64
founding_year         int64
dtype: object

In [214]:
df2.isna().sum()

ID                     0
op_status              0
domain                 0
hq_country_code      468
hq_state_code        576
hq_region            555
hq_city              555
total_funding_usd    850
funding_rounds         0
num_investors          0
funding_duration       0
first_funding_utc      0
last_funding_utc       0
founding_year          0
dtype: int64

In [215]:
df2['total_funding_usd'].describe()

count        3619
unique       1912
top       2000000
freq           64
Name: total_funding_usd, dtype: object

In [216]:
df2['total_funding_usd'].fillna('0', inplace = True)

In [217]:
df2['total_funding_usd'].isna().sum()

0

In [218]:
df2['total_funding_usd'] = df2['total_funding_usd'].apply(pd.to_numeric, errors='coerce')

In [219]:
df2['total_funding_usd'].dtypes

dtype('float64')

In [220]:
df2['hq_country_code'].unique()

array(['USA', 'DEU', 'IND', 'CAN', 'JPN', nan, 'GBR', 'CHN', 'TWN', 'ZAF',
       'KOR', 'ISR', 'BRA', 'AUT', 'AUS', 'ESP', 'IDN', 'NLD', 'CHE',
       'SWE', 'POL', 'LUX', 'FRA', 'TUR', 'ITA', 'VNM', 'MEX', 'DNK',
       'GRC', 'MYS', 'BLZ', 'IRL', 'FIN', 'KEN', 'CZE', 'BWA', 'PHL',
       'SGP', 'COL', 'RUS', 'HKG', 'SVK', 'CHL', 'ARE', 'THA', 'SVN',
       'BGR', 'ARG', 'PER', 'BEL', 'NGA', 'ROM', 'TAN', 'GEO', 'NOR',
       'PRT', 'PAK', 'EST', 'SRB', 'LVA', 'JOR', 'ISL', 'UKR', 'HUN',
       'NZL', 'GHA', 'LTU', 'PAN', 'ECU', '2012-04-30', 'CYP', 'GIB',
       'LBN', 'OMN', 'EGY', 'VEN', 'GTM', 'MAR', 'BMU'], dtype=object)

In [221]:
df2['hq_country_code'].value_counts()

USA           2349
GBR            290
CAN            130
CHN            126
IND            120
DEU             92
FRA             86
ISR             67
ESP             64
NLD             47
BRA             38
IRL             38
ITA             35
RUS             31
SGP             31
JPN             30
DNK             30
SWE             29
AUS             29
KOR             25
CHE             23
CHL             22
FIN             21
BEL             21
POL             18
MEX             15
IDN             12
HKG             12
TUR             11
PRT             11
              ...
HUN              3
PAK              3
CYP              3
LTU              2
NGA              2
LUX              2
BWA              2
VNM              2
ROM              2
GHA              2
ISL              2
ECU              2
2012-04-30       1
SVN              1
TAN              1
NZL              1
SRB              1
GEO              1
VEN              1
MAR              1
GIB              1
EGY              1
JOR              1
BLZ              1
UKR              1
OMN              1
LBN              1
BMU              1
PAN              1
GTM              1
Name: hq_country_code, Length: 78, dtype: int64

In [222]:
df2['hq_country_code'].isna().sum()

468

In [223]:
df2['hq_country_code'].fillna('USA', inplace = True)

In [224]:
df2['hq_country_code'].replace('2012-04-30','IND',inplace=True)

In [225]:
df2['hq_country_code'].unique()

array(['USA', 'DEU', 'IND', 'CAN', 'JPN', 'GBR', 'CHN', 'TWN', 'ZAF',
       'KOR', 'ISR', 'BRA', 'AUT', 'AUS', 'ESP', 'IDN', 'NLD', 'CHE',
       'SWE', 'POL', 'LUX', 'FRA', 'TUR', 'ITA', 'VNM', 'MEX', 'DNK',
       'GRC', 'MYS', 'BLZ', 'IRL', 'FIN', 'KEN', 'CZE', 'BWA', 'PHL',
       'SGP', 'COL', 'RUS', 'HKG', 'SVK', 'CHL', 'ARE', 'THA', 'SVN',
       'BGR', 'ARG', 'PER', 'BEL', 'NGA', 'ROM', 'TAN', 'GEO', 'NOR',
       'PRT', 'PAK', 'EST', 'SRB', 'LVA', 'JOR', 'ISL', 'UKR', 'HUN',
       'NZL', 'GHA', 'LTU', 'PAN', 'ECU', 'CYP', 'GIB', 'LBN', 'OMN',
       'EGY', 'VEN', 'GTM', 'MAR', 'BMU'], dtype=object)

In [226]:
df2['hq_country_code'].value_counts()

USA    2817
GBR     290
CAN     130
CHN     126
IND     121
DEU      92
FRA      86
ISR      67
ESP      64
NLD      47
BRA      38
IRL      38
ITA      35
RUS      31
SGP      31
JPN      30
DNK      30
SWE      29
AUS      29
KOR      25
CHE      23
CHL      22
FIN      21
BEL      21
POL      18
MEX      15
HKG      12
IDN      12
TUR      11
PRT      11
       ...
GRC       3
MYS       3
CYP       3
HUN       3
BWA       2
ROM       2
LUX       2
GHA       2
ISL       2
LTU       2
NGA       2
ECU       2
VNM       2
TAN       1
VEN       1
SVN       1
SRB       1
NZL       1
GEO       1
GTM       1
LBN       1
EGY       1
GIB       1
JOR       1
BMU       1
MAR       1
PAN       1
OMN       1
BLZ       1
UKR       1
Name: hq_country_code, Length: 77, dtype: int64

In [227]:
df2['hq_country_code']= le2.fit_transform(df2['hq_country_code'])

In [228]:
df2['hq_country_code'].value_counts()

73    2817
25     290
10     130
13     126
34     121
17      92
24      86
37      67
21      64
51      47
8       38
35      38
38      35
63      31
62      31
18      30
40      30
67      29
2       29
42      25
11      23
12      22
23      21
4       21
59      18
48      15
31      12
33      12
60      11
70      11
      ...
29       3
46       3
15       3
55       3
27       2
44       2
19       2
36       2
9        2
45       2
50       2
61       2
75       2
64       1
28       1
30       1
47       1
43       1
6        1
20       1
39       1
72       1
74       1
53       1
26       1
68       1
54       1
66       1
56       1
7        1
Name: hq_country_code, Length: 77, dtype: int64

In [229]:
df2['hq_country_code'] = df2['hq_country_code'].apply(pd.to_numeric, errors='coerce')

In [230]:
df2.isna().sum()

ID                     0
op_status              0
domain                 0
hq_country_code        0
hq_state_code        576
hq_region            555
hq_city              555
total_funding_usd      1
funding_rounds         0
num_investors          0
funding_duration       0
first_funding_utc      0
last_funding_utc       0
founding_year          0
dtype: int64

In [231]:
df2.dtypes

ID                     int64
op_status              int64
domain                 int64
hq_country_code        int64
hq_state_code         object
hq_region             object
hq_city               object
total_funding_usd    float64
funding_rounds         int64
num_investors          int64
funding_duration       int64
first_funding_utc      int64
last_funding_utc       int64
founding_year          int64
dtype: object

In [232]:
df2['hq_state_code'].unique()

array(['FL', 'VA', '16', 'MO', '19', 'BC', 'ON', '40', nan, 'PA', 'CA',
       'NY', 'I7', '25', 'MA', '13', 'H9', 'TN', '4', 'NC', '11', 'QC',
       '22', '5', '2', 'MN', '9', 'B7', '7', '29', '8', '26', 'SC', 'UT',
       '24', '82', 'TX', 'DC', '3', '77', 'CO', 'HI', '23', 'A8', '34',
       'OH', 'NJ', '56', 'P4', 'Q5', 'KY', 'GA', 'WA', 'IL', 'H3', 'K2',
       '1', 'C5', '28', '18', '35', '12', 'RI', '27', 'NE', 'WI', 'DE',
       'E4', '52', '17', '60', 'IN', 'C3', 'J8', 'N1', 'OR', 'K7', 'B4',
       '66', 'Y9', 'NS', 'F2', 'AR', '15', 'H5', 'A6', 'N7', 'H8', 'OK',
       'B8', '42', '48', '97', 'MI', '78', 'AZ', 'MD', 'IA', 'G7', '30',
       '6', 'CT', 'C7', 'WV', '20', 'NB', '54', '36', 'V2', 'B9', 'NV',
       '14', 'G5', 'Z7', '59', '10', '88', 'L6', 'P6', 'I9', 'M9', 'MS',
       'AB', '87', 'P8', '58', '21', 'E6', 'NM', 'VT', 'D9', 'KS', 'E9',
       'K4', '53', 'Y6', 'U8', '86', '32', 'E7', 'X7', 'ID', '57', 'I2',
       'NH', 'H2', 'P3', 'A9', 'B3', 'A2', 'ME', 'Y4', 'R3', '68', 'L3',
       '65', '72', 'F9', 'SAU', 'I5', 'B5', 'V8', 'X5', 'O1', 'A7', '73',
       'D4', 'F8', '71', 'AL', 'M3', 'C9', 'I6', 'W9', '83', 'T5', '46',
       '31', 'A4', 'G8', 'L9', 'M4', '45', 'E5', 'G3', 'B2', 'V9', 'N2',
       'H4', 'D3', 'J7', 'R6', 'A3'], dtype=object)

In [233]:
df2['hq_state_code'].value_counts()

CA     931
NY     269
MA     195
H9     142
TX     116
7      112
2       98
WA      83
PA      71
IL      62
ON      61
16      56
FL      55
5       55
A8      54
22      48
GA      47
CO      47
9       42
4       40
OH      39
23      39
19      38
12      37
11      36
NC      35
NJ      31
TN      31
UT      31
VA      30
      ...
A4       1
Z7       1
Y4       1
H4       1
45       1
A7       1
K4       1
A3       1
F9       1
D4       1
68       1
71       1
88       1
E9       1
I5       1
O1       1
C9       1
73       1
E7       1
65       1
G3       1
L3       1
SAU      1
H3       1
H5       1
W9       1
J7       1
H2       1
R3       1
Y6       1
Name: hq_state_code, Length: 192, dtype: int64

In [234]:
df2['hq_state_code'].isna().sum()

576

In [235]:
df2['hq_state_code'].fillna('NY', inplace = True)

In [236]:
df2['hq_state_code'].isna().sum()

0

In [237]:
df2['hq_state_code'].value_counts()

CA     931
NY     845
MA     195
H9     142
TX     116
7      112
2       98
WA      83
PA      71
IL      62
ON      61
16      56
FL      55
5       55
A8      54
22      48
GA      47
CO      47
9       42
4       40
OH      39
23      39
19      38
12      37
11      36
NC      35
NJ      31
TN      31
UT      31
VA      30
      ...
A4       1
Z7       1
Y4       1
H4       1
45       1
A7       1
K4       1
A3       1
F9       1
D4       1
68       1
71       1
88       1
E9       1
I5       1
O1       1
C9       1
73       1
E7       1
65       1
G3       1
L3       1
SAU      1
H3       1
H5       1
W9       1
J7       1
H2       1
R3       1
Y6       1
Name: hq_state_code, Length: 192, dtype: int64

In [238]:
df2['hq_state_code']= le2.fit_transform(df2['hq_state_code'])

In [239]:
df2['hq_state_code'] = df2['hq_state_code'].apply(pd.to_numeric, errors='coerce')

In [240]:
df2['hq_state_code'].value_counts()

85     931
154    845
136    195
112    142
174    116
48     112
11      98
183     83
164     71
121     62
158     61
7       56
35      55
101     55
67      54
14      48
86      47
106     47
60      42
29      40
156     39
15      39
10      38
3       37
2       36
147     35
173     31
176     31
150     31
180     30
      ...
115      1
123      1
131      1
135      1
143      1
155      1
167      1
179      1
178      1
162      1
188      1
130      1
33       1
41       1
45       1
49       1
73       1
89       1
97       1
105      1
109      1
187      1
38       1
58       1
66       1
94       1
102      1
110      1
126      1
189      1
Name: hq_state_code, Length: 192, dtype: int64

In [241]:
df2.dtypes

ID                     int64
op_status              int64
domain                 int64
hq_country_code        int64
hq_state_code          int64
hq_region             object
hq_city               object
total_funding_usd    float64
funding_rounds         int64
num_investors          int64
funding_duration       int64
first_funding_utc      int64
last_funding_utc       int64
founding_year          int64
dtype: object

In [242]:
df2['hq_region'].unique()

array(['Ft. Lauderdale', 'Washington, D.C.', 'Berlin', 'St. Louis',
       'Bangalore', 'Vancouver', 'Toronto', 'Tokyo', nan, 'Philadelphia',
       'SF Bay Area', 'San Diego', 'New York City', 'Newcastle',
       'Los Angeles', 'Norfolk - Virginia Beach', 'CHN - Other', 'Boston',
       'DEU - Other', 'London', 'Nashville', 'Mumbai', 'Taiwan',
       'Kansas City', 'Raleigh', 'Johannesburg', 'Seoul', 'Montreal',
       'Beijing', 'Tel Aviv', 'Sao Paulo', 'Minneapolis', 'Vienna',
       'Bristol', 'AUS - Other', 'Cologne', 'Madrid', 'Perth', 'Kelowna',
       'Fortaleza', 'SC - Other', 'Salt Lake City', 'Sydney',
       'CA - Other', 'IDN - Other', 'Utrecht', 'Zurich', 'Gdynia',
       'Dallas', 'Esch-sur-alzette', 'Krakow', 'Denver', 'Honolulu',
       'Orlando', 'Shanghai', 'Daytona Beach', 'Paris', 'Istanbul',
       'Cincinnati', 'Bakersfield', 'NJ - Other', 'Barcelona',
       'GBR - Other', 'York', 'KY - Other', 'Louisville', 'ISR - Other',
       'Atlanta', 'Seattle', 'Chicago', 'Rome', 'Houston', 'Ho Chi Minh',
       'BC - Other', 'Leeds', 'Stockholm', 'Ecublens', 'Geneva', 'Milan',
       'Austin', 'Ulm', 'IND - Other', 'MEX - Other', 'DNK - Other',
       'Athens', 'Harrisburg', 'Kuala Lumpur', 'Tampa', 'Cleveland',
       'Providence', 'Pittsburgh', 'Newark', 'BLZ - Other', 'Malmo',
       'Dublin', 'San Antonio', 'Munich', 'Elmira', 'Helsinki',
       'NY - Other', 'Omaha', 'WI - Other', 'Nairobi',
       'Wilmington, Delaware', 'Puteaux', 'Prague', 'Copenhagen', 'Orsay',
       'Valencia', 'Indianapolis', 'Anaheim', 'Nottingham', 'Turin',
       'Singapore', 'Bogota', 'Erlangen', 'Portland, Oregon', 'Leipzig',
       'Milwaukee', 'Freiburg', 'FRA - Other', 'St. Petersburg',
       'Hong Kong', 'Pontypridd', 'Halifax', 'Columbus, Ohio',
       'Fayetteville', 'Bratislava', 'Santiago', 'Dubai', 'BRA - Other',
       'Amsterdam', 'Liverpool', 'Levis', 'Bangkok', 'Oklahoma City',
       'SVN - Other', 'Memphis', 'Springfield, Illinois', 'Gainesville',
       'Nice', 'Sofia', 'Buenos Aires', 'Naples, Florida', 'Moscow',
       'Madison', 'Bordeaux', 'Xiamen', 'Tulsa', 'Long Island', 'Detroit',
       'Warsaw', 'New Delhi', 'Cork', 'Hamburg', 'Phoenix',
       'Orange County, California', 'Des Moines', 'Dortmund',
       'Kingston Upon Thames', 'Lexington', 'NLD - Other', 'Lima',
       'Shenzhen', 'Hanover', 'Guangzhou', 'Hartford', 'Coventry',
       'WV - Other', 'Venice', 'Sacramento', 'Tucson', 'Mexico City',
       'ITA - Other', 'Fredericton', 'Santa Barbara', 'BEL - Other',
       'NGA - Other', 'Stuttgart', 'Oulu', 'Roncade', 'Timisoara',
       'CHE - Other', 'South Bend', 'Glasgow', 'Lyon', 'TZA - Other',
       'Seongnam', 'Tbilisi', 'Las Vegas', 'Halle An Der Saale',
       'San SebastiÃ¡n De Los Reyes', 'Jakarta', 'Frankfurt', 'Charlotte',
       'CO - Other', 'Macclesfield', 'Unterhaching', 'JPN - Other',
       'Kristiansand', 'Bilbao', 'Lisbon', 'Tarragona', 'Oxton', 'Miami',
       'CZE - Other', 'NC - Other', 'Oslo', 'Toledo', 'NS - Other',
       'Napa Valley', 'Brussels', 'Lahore', 'Grand Rapids', 'Eindhoven',
       'Dusseldrof', 'Jacksonville', 'Dayton', 'Fort Collins', 'Zaragoza',
       'Tallinn', 'Melbourne', 'Albany, Georgia', 'Grenoble', 'Belgrade',
       'MS - Other', 'Calgary', 'Newbury', 'SWE - Other', 'Hyderabad',
       'Sarasota - Bradenton', 'Szczecin', 'Swindon', 'A Coruna',
       'Rio de Janeiro', 'Riga', 'Amman', 'Worcester', 'Muenchen',
       'Allentown', 'Baltimore', 'Dorval', 'Albuquerque', 'VT - Other',
       'Porto Alegre', 'Alexandria', 'Manila',
       'Charleston, South Carolina', 'Palma De Mallorca', 'Scranton',
       'Pensacola', 'KS - Other', 'Daresbury', 'CT - Other', 'Plymouth',
       'Palm Beaches', 'ISL - Other', 'Kiev', 'Lappeenranta', 'Budapest',
       'Colorado Springs', 'City Of London', 'Aarhus', 'Newport',
       'Chennai', 'Greenville - Spartanburg', 'Burnaby', 'Catania',
       'Wichita', 'Reno - Sparks', 'PA - Other', 'Edinburgh', 'Poznan',
       'Delhi', 'TX - Other', 'Brossard', 'Auckland', 'Cross Hands',
       'Reyjavik', 'Recife', 'Cape Cod', 'Accra', 'Ottawa', 'Marseille',
       'Herlev', 'Idaho Falls', 'Kaunas', 'Chiang Mai', 'Knoxville',
       'Hangzhou', 'Nasik', 'Aix-en-provence', 'Manchester', 'Portsmouth',
       'Preston', 'Porto', 'Ismaning', 'Guwahati', 'Montpellier',
       'Bolton Upon Dearne', 'Manchester, New Hampshire', 'Rotterdam',
       'CHL - Other', 'Cochin', 'Rennes', 'Panama City', 'Vantaa',
       'Portland, Maine', 'Chattanooga', 'Rochester, New York', 'Spokane',
       'Belfast', 'Warwick', 'Haryana', 'Alcester', 'TUR - Other',
       'Bologna', 'MD - Other', 'The Hague', 'Basel', 'Ã‡an', 'Palermo',
       'PRT - Other', 'Jaipur', 'Camberwell South', 'Brisbane',
       'Cape Town', 'Jena', 'Pune', 'Guayaquil', 'Vilnius', 'Curitiba',
       'Wroclaw', 'PAK - Other', 'Lausanne', 'Henley On Thames',
       'WA - Other', '10', 'Middlesbrough', 'Eugene', 'Coimbatore',
       'Nantes', 'Dresden', 'Bellshill', 'Cardiff', 'Cyprus', 'Schlieren',
       'Stalybridge', 'IRL - Other', 'PHL - Other', 'Winston-Salem',
       'Birmingham', 'Kazan', 'GRC - Other', 'Bucharest', 'Netanya',
       'Galway', 'GIB - Other', 'Exeter', 'ESP - Other', 'Greensboro',
       'Brasilia', 'Perm', 'Beirut', 'Huntsville',
       'Columbia, South Carolina', "Florida's Space Coast",
       'San Luis Obispo', 'Frensham', 'Taunton', 'Peoria', 'Muscat',
       'ARG - Other', 'Kolkata', 'Edmonton', 'Lugano', 'Firenze',
       'Binton', 'Gdansk', 'Livingston', 'Cairo', 'TN - Other',
       'POL - Other', 'Pessac', 'Guangdong', 'Aberdeen', 'THA - Other',
       'Murcia', 'Kalamazoo', 'Cedar Rapids', 'HUN - Other', 'UT - Other',
       'Bath', 'Orpington', 'EST - Other', 'COL - Other', 'Huddersfield',
       'LUX - Other', 'Ontario - Inland Empire', 'AUT - Other',
       'DÃºn Laoghaire', 'Trenton', 'Ahmedabad', 'HÃ¸rsholm', 'Bochum',
       'Boise', 'Fresno', 'Kosice', 'Guatemala City', 'Akron - Canton',
       'Green Bay', 'Quebec City', 'Sheffield', 'Richmond', 'Casablanca',
       'Cheltenham', 'Nanjing', 'Carthage', 'IA - Other', 'Gateshead',
       'Baracaldo', 'Chengdu', 'Umea', 'GA - Other', 'Jinan', 'Lansing',
       'Vadodara', 'Jerusalem', 'Linkoping', 'Osaka', 'Lagos',
       'Trondheim', 'Quito', 'ME - Other', 'Stockport', 'IL - Other',
       'ID - Other', 'Montpelier', 'Beaconsfield', 'Tunbridge Wells',
       'Admiralty', 'Jackson', 'Rochester, Minnesota', 'Syracuse',
       'Haifa', 'Coleraine', 'Bergamo', 'Turku', 'Aldershot', 'Seminole',
       'Bermuda'], dtype=object)

In [243]:
df2['hq_region'].value_counts()

SF Bay Area             694
New York City           253
Boston                  188
London                  175
Los Angeles             118
Seattle                  80
Austin                   56
Tel Aviv                 55
Washington, D.C.         55
Toronto                  54
Chicago                  53
San Diego                52
Paris                    49
Beijing                  46
Atlanta                  44
Denver                   43
Philadelphia             41
Shanghai                 35
Bangalore                34
Singapore                31
Houston                  30
Salt Lake City           30
New Delhi                29
Dublin                   27
Raleigh                  27
Anaheim                  26
Newark                   25
Barcelona                24
Tokyo                    24
Mumbai                   24
                       ...
Lansing                   1
The Hague                 1
Haifa                     1
UT - Other                1
Sarasota - Bradenton      1
Szczecin                  1
Kiev                      1
Osaka                     1
GIB - Other               1
Schlieren                 1
Huddersfield              1
Kelowna                   1
Levis                     1
Kristiansand              1
Brasilia                  1
Fort Collins              1
Coleraine                 1
Akron - Canton            1
Cape Cod                  1
CHL - Other               1
BLZ - Other               1
Venice                    1
Newport                   1
Aldershot                 1
CZE - Other               1
Chengdu                   1
Palermo                   1
Colorado Springs          1
Green Bay                 1
Portland, Maine           1
Name: hq_region, Length: 450, dtype: int64

In [244]:
df2['hq_region'].isna().sum()

555

In [245]:
df2['hq_region'].fillna('New York City', inplace = True)

In [246]:
df2['hq_region'].isna().sum()

0

In [247]:
df2['hq_region']= le2.fit_transform(df2['hq_region'])

In [248]:
df2['hq_region'] = df2['hq_region'].apply(pd.to_numeric, errors='coerce')

In [249]:
df2.isna().sum()

ID                     0
op_status              0
domain                 0
hq_country_code        0
hq_state_code          0
hq_region              0
hq_city              555
total_funding_usd      1
funding_rounds         0
num_investors          0
funding_duration       0
first_funding_utc      0
last_funding_utc       0
founding_year          0
dtype: int64

In [250]:
df2.dtypes

ID                     int64
op_status              int64
domain                 int64
hq_country_code        int64
hq_state_code          int64
hq_region              int64
hq_city               object
total_funding_usd    float64
funding_rounds         int64
num_investors          int64
funding_duration       int64
first_funding_utc      int64
last_funding_utc       int64
founding_year          int64
dtype: object

In [251]:
df2['hq_city'].unique()

array(['Fort Lauderdale', 'Herndon', 'Berlin', 'Hazelwood', 'Bangalore',
       'Vancouver', 'Toronto', 'Tokyo', nan, 'Philadelphia',
       'King Of Prussia', 'Palo Alto', 'San Diego', 'Brooklyn',
       'Newcastle Upon Tyne', 'Walnut Creek', 'San Francisco',
       'Los Angeles', 'Virginia Beach', 'Pudong', 'Torrance',
       'Burlington', 'Oakland', 'Mittweida', 'London', 'Mountain View',
       'San Jose', 'Cambridge', 'Nashville', 'Mumbai', 'Hsinchu',
       'Independence', 'Boston', 'Raleigh', 'Johannesburg', 'Seoul',
       'Laval', 'Beijing', 'Tel Aviv', 'São Paulo', 'Mill Valley',
       'Forest Lake', 'Deutsch', 'Vienna', 'New York', 'Bristol',
       'Yarraville', 'Cologne', 'Markham', 'Madrid', 'Del Mar',
       'San Bruno', 'Perth', 'Kelowna', 'Santa Clara', 'Florianópolis',
       'Texas', 'Lindon', 'Sydney', 'Sun Valley', 'Japan', 'Utrecht',
       'Zug', 'Gdynia', 'Dallas', 'Washington', 'Montréal', 'Orem',
       'Esch-sur-alzette', 'Kraków', 'Pleasanton', 'Boulder',
       'Marlborough', 'Honolulu', 'Orlando', 'Shanghai', 'Palm Coast',
       'Paris', 'Santa Monica', 'Mclean', 'Istanbul', 'Futian',
       'Cincinnati', 'California City', 'Hampton', 'Barcelona',
       'Aldermaston', 'York', 'Union Star', 'Louisville', 'Or Akiva',
       'Lawrenceville', 'Woodinville', 'Palatine', 'Rome', 'Plano',
       'Houston', 'Ho Chi Minh City', 'Littleton', 'Richmond', 'Highland',
       'Leeds', 'San Mateo', 'Stockholm', 'Ecublens', 'Oxford', 'Geneva',
       'Milan', 'Atlanta', 'St Louis', 'Redwood City', 'Austin',
       'Morrisville', 'Ulm', 'Zürich', 'Wendelsheim', 'Darjeeling',
       'Estado De México', 'Risskov', 'Plymouth', 'Athens', 'Hummelstown',
       'Los Altos', 'Sandy', 'Selangor', 'Tampa', 'Cleveland',
       'Providence', 'Pittsburgh', 'Rye', 'Burbank', 'Tenafly',
       'Carlsbad', 'Middlesex', 'Chicago', 'Malmö', 'Potsdam', 'New Hope',
       'Dublin', 'Provo', 'San Antonio', 'Feasterville Trevose',
       'München', 'Ithaca', 'Seattle', 'Helsinki', 'Great River',
       'Lincoln', 'Neshkoro', 'Hilversum', 'Nairobi', 'Wilmington',
       'Sunnyvale', 'Sherman Oaks', 'Puteaux', 'Saffron Walden', 'Prague',
       'Newton', 'Copenhagen', 'Orsay', 'Valencia', 'Itasca',
       'West Lafayette', 'Brea', 'Lake Mary', 'Nottingham', 'Wayne',
       'Haydock', 'Torino', 'Minneapolis', 'Woodland Hills', 'Menlo Park',
       'Singapore', 'Bogotá', 'Kirkland', 'Erlangen', 'Milpitas',
       'Hamilton', 'East Palo Alto', 'Portland', 'Leipzig', 'Beloit',
       'Mooloolaba', 'Reading', 'Freiburg', 'Tourcoing', 'Berkeley',
       'Saint Petersburg', 'Emeryville', 'Indianapolis', 'Hong Kong',
       'Pontypridd', 'Minnetonka', 'Halifax', 'Basingstoke', 'Columbus',
       'St. Petersburg', 'Fayetteville', 'Bratislava', 'Westlake Village',
       'Santiago', 'Dubai', 'Jordânia', 'Guildford', 'Amsterdam',
       'Liverpool', 'Kitchener', 'Lévis', 'Bangkok', 'Herzliya',
       'Oklahoma City', 'Woodstock', 'Arlington', 'Gornja Radgona',
       'Memphis', 'Springfield', 'Waltham', 'Jersey City', 'Framingham',
       'Newberry', 'Valbonne', 'Sofia', 'Beachwood', 'Buenos Aires',
       'Bonita Springs', 'Broomfield', 'Needham', 'Moscow',
       'Stokenchurch', 'Madison', 'Long Island City', 'Bordeaux',
       'Issaquah', 'Beaverton', 'Xiamen', 'Beverly Hills', 'Tulsa',
       'Southampton', 'Lafayette', 'Paoli', 'Detroit', 'Warszawa',
       'New Delhi', 'Shibuya', 'Cork', 'Hamburg', 'Parsippany',
       'Chandler', 'Rockville', 'Espoo', 'Milano', 'San Juan Capistrano',
       'Ames', 'Durham', 'Brighton', 'Dortmund', 'Kingston Upon Thames',
       'Doylestown', 'Lexington', 'Fremont', 'Castricum', 'Lima',
       'Shenzhen', 'Newtown', 'Hanover', 'Guangzhou', 'Milwaukee',
       'Marietta', 'Malvern', 'Pleasant Grove', 'New Haven', 'San Rafael',
       'Köln', 'Prospect', 'Coventry', 'Reston', 'Pacific Palisades',
       'Teaneck', 'Kearneysville', 'Treviso', 'Silver Spring',
       'Half Moon Bay', 'Mi Wuk Village', 'Tucson', 'Mexico City',
       'Vimercate', 'Fredericton', 'Manhattan Beach', 'Santa Barbara',
       'Alameda', 'Lommel', 'Glendale', 'San Ramon', 'Ilupeju', 'Lowell',
       'Stuttgart', 'Oulu', 'Roncade', 'Newcastle', 'Munich', 'Timisoara',
       'Cham', 'Elkhart', 'Mission Viejo', 'Glasgow', 'Irving', 'Lyon',
       'Draper', 'Hasselager', 'Dar Es Salaam', 'Seongnam', 'Santa Cruz',
       'Tbilisi', 'Suzhou', 'Franklin', 'San Clemente',
       'Issy-les-moulineaux', 'Las Vegas', 'Freyung',
       'Halle An Der Saale', 'Huins', 'Unterschleißheim',
       'San Sebastián De Los Reyes', 'Jakarta', 'Concord', 'Richardson',
       'Schwetzingen', 'Bloomington', 'Acton', 'Culver City',
       'Costa Mesa', 'Brunnthal', 'Royal Tunbridge Wells', 'Englewood',
       'Charlotte', 'Pueblo', 'Santa Ynez', 'Macclesfield',
       'Salt Lake City', 'Unterhaching', 'Champaign', 'Yamato-minami',
       'South San Francisco', 'Golden', 'Buena Park', 'El Segundo',
       'Kristiansand', 'Denver', 'Bilbao', 'Lisbon', 'Gurgaon',
       'Campbell', 'Cupertino', 'Ambler', 'Encino', 'Tarragona', 'Oxton',
       'Aventura', 'Ma', 'Guarulhos', 'Zelenec', 'Omaha',
       'El Dorado Hills', 'Bellevue', 'Coatesville', 'Thalheim',
       'Ipswich', 'Los Gatos', 'Labbeck', 'Mooresville', 'Boskoop',
       'Roswell', 'Oslo', 'Pampisford', 'Findlay', 'Irvine', 'Andover',
       'New Waterford', 'Westford', 'Van Nuys', 'Petaluma', 'Leuven',
       'Venice', 'Miami', 'San Luis Potosí', 'Lahore', 'Grand Rapids',
       'Eindhoven', 'Düsseldorf', 'Worthing', 'Jacksonville', 'Dayton',
       'Saint Bonaventure', 'Long Beach', 'San Carlos', 'Lavras',
       'Croissy-beaubourg', 'Fort Collins', 'Aliso Viejo', 'Zaragoza',
       'Charlottesville', 'Arenzano', 'Euthal', 'Brunswick', 'Tallinn',
       'Foster City', 'Ness Ziona', 'Levallois-perret', 'Tempe',
       'Burlingame', 'Melbourne', 'Albany', 'The Woodlands',
       'Carpinteria', 'Grenoble', 'Belgrade', 'Laurel', 'Roma', 'Calgary',
       'Genova', 'Liège', 'Taipei', 'Fullerton', 'Newbury',
       "Rosh Ha'ayin", 'Karlstad', 'Hyderabad', 'Tyngsboro', 'Redmond',
       'Sarasota', 'Toledo', 'Bengaluru', 'Szczecin', 'Grosse Pointe',
       'Noida', 'Swindon', 'Taichung', 'Carlisle', 'A Coruña',
       'Rio De Janeiro', 'Riga', 'Marina Del Rey', 'Amman', 'Wayland',
       'Princeton', 'Worcester', 'Muenchen', 'Bethlehem', 'Norwell',
       'Baltimore', 'Le Vaud', 'Ponte Vedra Beach', 'Surry Hills',
       'Dorval', 'Conshohocken', 'Albuquerque', 'Fairfax', 'Elmhurst',
       'Middlebury', 'Fort Worth', 'Porto Alegre', 'Harrisonburg',
       'Duluth', 'San Juan', 'Charleston', 'Kista', 'Bountiful',
       'Palma De Mallorca', 'Wilkes Barre', 'Miramar Beach', 'Sabetha',
       "Ra'anana", 'Decatur', 'Daresbury', 'Lucerne Valley',
       'Sun Prairie', 'Centerbrook', 'Boca Raton', 'Nordborg', 'Evanston',
       'Alpharetta', 'Hafnarfjörður', 'North Billerica', 'Pasig', 'Kyiv',
       'Lappeenranta', 'Melville', 'Budapest', 'Colorado Springs',
       'City Of London', 'Gainesville', 'Aarhus', 'Fairfield', 'Newport',
       'Iselin', 'Warsaw', 'Chennai', 'Williston', 'Makati', 'Greenville',
       'Harvard', 'Burnaby', 'Catania', 'Schuyler Lake', 'Wichita',
       'Reno', 'Pasadena', 'Haifa', 'Erie', 'Edinburgh', 'Poznan',
       'Delhi', 'Tiverton', 'Milton', 'Flemington', 'Colorado',
       'Brussels', 'New London', 'Rockdale', 'Lanham', 'Brossard',
       'Auckland', 'Cross Hands', 'West Haven', 'Westborough', 'Phoenix',
       'Reykjavík', 'American Fork', 'Härnösand', 'Rolling Meadows',
       'Alachua', 'Recife', 'Hyannis Port', 'Port Townsend', 'Accra',
       'Ottawa', 'Grand-rosière', 'Taiwan', 'Marseille', 'Newington',
       'Herlev', 'Almere', 'Oeiras', 'Hayward', 'Waterloo', 'Rexburg',
       'Kaunas', 'Kadima', 'Chiang Mai', 'Abingdon', 'Oak Ridge',
       'Ann Arbor', 'Hangzhou', 'Brentwood', 'Nasik', 'Aix-en-provence',
       'Tewksbury', 'Fishers', 'Lilburn', 'Manchester', 'Petah Tiqva',
       'Lieshout', 'Portsmouth', 'Yardley', 'Amherst', 'Preston',
       'Whitewater', 'West Hollywood', 'Aveiro', 'Hardwick', 'Maurepas',
       'New Brunswick', 'Lund', 'Kfar Saba', 'Foothill Ranch', 'Ismaning',
       'Tualatin', 'Midvale', 'Zwijnaarde', 'Guwahati', 'Warren',
       'Scranton', 'Montpellier', 'Bolton Upon Dearne', 'Aschheim',
       'Bedford', 'Rotterdam', 'Puerto Varas', 'Ramat Gan', 'Cochin',
       'Bracknell', 'Rennes', 'Tomball', 'Mont-saint-guibert',
       'Panama City', 'Stamford', 'Rende', 'Vantaa', 'Arlington Heights',
       'Chattanooga', 'Rochester', 'Spokane', 'Fair Lawn', 'Chepstow',
       'Belfast', 'Chantilly', 'Kenmore', 'Warwick', 'Haryana',
       'Lawrence', 'Laguna Hills', 'Alcester', 'Sèvres', 'Beytepe',
       'Belmont', 'Buderim', 'Cracow', 'Saint Gallen', 'Bologna',
       'Slough', 'Suitland', 'The Hague', 'Basel', 'Napa', 'Çan',
       'Palermo', 'Richmond Hill', 'Glenview', 'Deurle', 'Malma',
       'Atlantic Highlands', 'New Albany', 'Ramalhal', 'Somerville',
       'Eden Prairie', 'Jaipur', 'Camberwell South', 'Brisbane',
       'Cape Town', 'Addison', 'Bièvres', "L'union", 'La Jolla', 'Malad',
       'Northbrook', 'Jena', 'Encinitas', 'Mount Kisco', 'Or Yehuda',
       'Pune', 'Blackburn', 'Wesley Chapel', 'Pullach', 'Guayaquil',
       'Lille', 'Natick', 'Vilnius', 'Curitiba', 'Wroclaw', 'Warrington',
       'Pakistan Kili', 'Lausanne', 'Henley On Thames', 'Jouy-en-josas',
       'Guilford', 'Anacortes', 'Mason', 'Edmond', 'South Houston',
       'East Hartford', 'Goleta', 'Hillingdon', 'SAU - Other',
       'Middlesbrough', 'Eugene', 'Longmont', 'Coimbatore', 'Nantes',
       'Dresden', 'Bellshill', 'Newport Beach', 'Fairmont', 'Ostend',
       'Cardiff', 'Elk Grove Village', 'Spring', 'Limassol', 'Nuevo León',
       'Middleton', 'Bondi', 'Valhalla', 'Schlieren', 'Stalybridge',
       'Palaiseau', 'Celbridge', 'Muntinlupa City', 'Somerset',
       'Woodridge', 'Jerusalem', 'China', 'Powai', 'Troy', 'Changsha',
       'Winston Salem', 'Birmingham', 'Columbia', 'Kazan', 'Attikí',
       'Anthée', 'Bunnik', 'Bucharest', 'Kefar Netter', 'Santa Rosa',
       'Galway', 'Carrollton', 'Gibraltar', 'Nanshan', 'Skovlunde',
       'Huntington Beach', 'Exeter', 'Hemel Hempstead', 'Lehi', 'Pontiac',
       'Espina', 'High Point', 'Brasília', 'Tel Aviv-yafo', 'Morgan Hill',
       'Ekaterinburg', 'Beirut', 'Melbourne Beach', 'Stevenson',
       'Yarnton', 'Écully', 'Audubon', 'San Luis Obispo', 'Frensham',
       'Downers Grove', 'Taunton', 'Chewton Mendip', 'Workington',
       'Auburn Hills', 'Gland', 'Peoria', 'Saint Louis', 'Woburn',
       'Wuxue', 'Larkspur', 'Montrouge', 'Vipperød', 'Muscat', 'Jujuy',
       'Kolkata', 'Charbonnières-les-bains', 'Edmonton', 'Bunschoten',
       'Kennesaw', 'Ranelagh', 'Jaffrey', 'Scottsdale', 'Palm Bay',
       'Coral Gables', 'Hunt Valley', 'Goatstown', 'Mannheim', 'Lugano',
       'Firenze', 'Binton', 'San Marcos', 'Frankfurt', 'Marriottsville',
       'Pittsfield', 'Alexandria', 'Gdansk', 'Loughton', 'Livingston',
       'Cairo', 'Quebeck', 'Bielsko-biala', 'Pessac', 'Nicosia',
       'Watertown', 'Charlottenlund', 'Wixom', 'Mainz', 'Stony Brook',
       'Guangdong', 'Montmeló', 'College Park', 'Changzhou', 'Amstelveen',
       'Aberdeen', 'Chonburi', 'Murcia', 'Kalamazoo', 'Lakewood',
       'Arbent', 'Valparaiso', 'Bethesda', 'North Vancouver', 'Guaporé',
       'Brattleboro', 'Whippany', 'Iowa City', 'Bonheiden', 'Branford',
       'Woodbridge', 'Sausalito', 'Porto', 'Cuajimalpa', 'Mountain Pass',
       'Santa Ana', 'Budaörs', 'Brookline', 'Allentown', 'Mapleton',
       'Olivet', 'Bath', 'Larnaca', 'Orpington', 'Tartu', 'Caracas',
       'Huddersfield', 'Blaschette', 'Walnut', 'Perchtoldsdorf',
       'Kansas City', 'Spicewood', 'Zeeland', 'Chapel Hill', 'Bel',
       'Belvedere Tiburon', 'Hasselt', 'Besançon', 'Botany', 'Misgav',
       'Dún Laoghaire', 'Trenton', 'Louvain-la-neuve', 'Ahmadabad',
       'Roseville', 'Davie', "'s-hertogenbosch", 'Tacoma', 'Hørsholm',
       'Calabasas', 'Brewster', 'Shangdong', 'Bochum', 'Boise', 'Canada',
       'Lisboa', 'Beltsville', 'North Hollywood', 'Bridgewater', 'Ankeny',
       'Loveland', 'Guadalajara', 'Ephrata', 'Ashkelon', 'Harlow',
       'Scotts Valley', 'Admington', 'Hyogo', 'Clovis', 'Salvador',
       'Kosice', 'Blue Bell', 'Vacaville', 'Randburg', 'Victoria',
       'Cranbury', 'El Monte', 'Guatemala City', 'Tallmadge', 'Horsham',
       'Neenah', 'Marysville', 'Quebec', 'Lake Forest', 'Billerica',
       'Sheffield', 'Harpenden', 'North Palm Beach', 'Qingdao', 'Wexford',
       'Casablanca', 'Dedham', 'Cheltenham', 'Palm Harbor', 'Xianglong',
       'Nanjing', 'Misgav Dov', 'Silkeborg', 'Carthage', 'Winfield',
       'Costa Rica', 'Gateshead', 'San Anselmo', 'Lod', 'Baracaldo',
       'Chelmsford', 'Islington', 'Chengdu', 'Southfield', 'Umeå',
       'Germany', 'Chippendale', 'Bournemouth', 'Old Saybrook', 'Jinan',
       'Miami Beach', 'Edison', 'Lansing', 'Shawnee', 'Chilworth',
       'Vadodara', 'Bet Shemesh', 'Winchester', 'Wakefield', 'Linköping',
       'Osaka', 'Lagos', 'Trondheim', 'Fulton', 'Gaithersburg', 'Quito',
       'Santiago De Cali', 'Roxbury', 'Stockport', 'Sun City Center',
       'Stenløse', 'Enderby', 'Ballinasloe', 'Hampshire', 'Darien',
       'Delray Beach', 'Heidelberg', 'Eagle', 'Ettlingen', 'Nærum',
       'Ashburn', 'Jinhua', 'Norwich', 'Bothell', 'Barrie', 'Asheboro',
       'Lochristi', 'Beaconsfield', 'Tunbridge Wells', 'Vaughan',
       'Palm Beach Gardens', 'Vannes', 'Devizes', 'Timbaúba', 'Ambridge',
       'Cary', 'Glassboro', 'Admiralty', 'Matlock', 'Hoboken', 'Euclid',
       'Greenwood', 'Elkridge', 'Faribault', 'Deurne', 'Ripley',
       'Syracuse', 'De Meern', 'Yoqne`am `illit', 'Germantown',
       'Hawthorne', 'Coleraine', 'Bergamo', 'Park City', 'Stockton',
       'Xian', 'Mafra', 'Turku', 'California', 'Aldershot', 'Tullahoma',
       'Seminole', 'Avon-les-roches', 'Laguna Niguel', 'Naples',
       'San Dimas'], dtype=object)

In [252]:
df2['hq_city'].value_counts()

San Francisco       277
New York            233
London              141
Los Angeles          59
Mountain View        58
Cambridge            55
Palo Alto            54
Austin               54
Boston               53
Seattle              52
Beijing              46
Paris                42
San Jose             42
Sunnyvale            40
Toronto              39
San Diego            37
Chicago              35
Shanghai             32
Singapore            31
Bangalore            30
Atlanta              29
San Mateo            29
Santa Clara          28
Dublin               27
Tel Aviv             27
Houston              26
Mumbai               24
Menlo Park           24
Barcelona            24
Tokyo                23
                   ...
Aldermaston           1
Brunswick             1
Vantaa                1
Arbent                1
Stony Brook           1
Louvain-la-neuve      1
Wexford               1
Kennesaw              1
Pueblo                1
Chengdu               1
Billerica             1
Southfield            1
Xianglong             1
Worthing              1
Wichita               1
Ashburn               1
Colorado Springs      1
Aldershot             1
China                 1
Hawthorne             1
Kadima                1
Reykjavík             1
Germantown            1
Blue Bell             1
Mooloolaba            1
Westlake Village      1
Ames                  1
Guarulhos             1
Bet Shemesh           1
Ma                    1
Name: hq_city, Length: 986, dtype: int64

In [253]:
df2['hq_city'].fillna('New York', inplace = True)

In [254]:
df2['hq_city'].isna().sum()

0

In [255]:
df2['hq_city']= le2.fit_transform(df2['hq_city'])

In [256]:
df2['hq_city'] = df2['hq_city'].apply(pd.to_numeric, errors='coerce')

In [257]:
df2['total_funding_usd'].dtypes

dtype('float64')

In [258]:
df2['total_funding_usd'].fillna(0, inplace = True)

In [259]:
df2.dtypes

ID                     int64
op_status              int64
domain                 int64
hq_country_code        int64
hq_state_code          int64
hq_region              int64
hq_city                int64
total_funding_usd    float64
funding_rounds         int64
num_investors          int64
funding_duration       int64
first_funding_utc      int64
last_funding_utc       int64
founding_year          int64
dtype: object

In [260]:
df2.isna().sum()

ID                   0
op_status            0
domain               0
hq_country_code      0
hq_state_code        0
hq_region            0
hq_city              0
total_funding_usd    0
funding_rounds       0
num_investors        0
funding_duration     0
first_funding_utc    0
last_funding_utc     0
founding_year        0
dtype: int64

# Predicting the output on final training set

In [261]:
X_TEST = df2

In [262]:
pred = clf.predict(X_TEST)

In [264]:
submission = pd.DataFrame({ 'Id': X_TEST.ID.values, 'successful_investment': pred })
submission.to_csv("my_submission2.csv", index=False)